<div class="col-sm-12">
  <div class="row-sm-12">
    <a class="btn btn-outline-primary btn-round" routerLink="/publisher/create">
      <i class="fas fa-plus"></i> Create
    </a>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Publisher
      </h4>
    </div>

    <div class="card-body">
      <div class="form-group row">
        <div class="col-sm-8">
          <pagination-controls (pageChange)="refreshData($event)" id="server"></pagination-controls>
        </div>
        <div class="col-sm-4 float-right">
          <div class="input-group no-border">
            <input type="text" [(ngModel)]="searchInput" (input)="refreshData()" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group float-right">
        Show 
         <select [(ngModel)]="page.PageSize" (change)="refreshDataAndPage()">
             <option value= 5 >5</option>
             <option value= 10>10</option>
             <option value= 15>15</option>
             <option value= 20>20</option>
           </select>
          <b> Entries</b> of {{ page.TotalItems }} Entries
     </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th scope="col">Publisher Name</th>
              <th scope="col">Logo</th>
              <th scope="col">Address</th>
              <th scope="col">Phone</th>
              <th scope="col">Date Create</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody *ngIf="publishers">
            <tr *ngFor="let publisher of publishers | paginate: { id: 'server', itemsPerPage: 10, currentPage: page.Currentpage, totalItems: page.TotalItems }">
              <td>{{ publisher.Name }}</td>
              <td>
                <img src="{{ publisher.ImgUrl }}" class="img-publisher" />
              </td>
              <td>{{ publisher.Address }}</td>
              <td>{{ publisher.Phone }}</td>
              <td>{{ publisher.DateCreate | date:'HH:mm:ss dd/MM/yyyy' }}</td>

              <td class="actions">
                <a [routerLink]="['/publisher/edit/', publisher.ID ]">
                  <button class="btn btn-outline-default btn-round">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </a>
                <button (click)="delete(publisher.ID)" class="btn btn-outline-danger btn-round">
                  <i class="fas fa-trash-alt"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
