.actions > .btn {
    margin: 2px;
}
.img-publisher{
    width:75px;
    height:75px
}
pagination-controls /deep/ .ngx-pagination li.current {
    background-color: #51cbce !important;
    border-radius: 15px !important;
  }
  
  pagination-controls /deep/ .ngx-pagination li {
    font-size: 18px;
    font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
  }