<section class="row-fluid features-books">
  <section class="span12 m-bottom">
    <div class="heading-bar">
      <h2>Sách nổi bật</h2>
      <span class="h-line"></span> </div>
    <div class="slider1">
      <div class="slide" *ngFor="let book of futureBook"> 
        <a [routerLink]="['/detail', book.BookID]"><img [src]="book.BookImg" class="pro-img"/></a> 
        <span class="title"><a [routerLink]="['/detail', book.BookID]">{{ book.BookName }}</a></span> 
        <span class="rating-bar"><img src="assets/images/rating-star.png" alt="Rating Star"/></span>
        <div class="cart-price" style="position: relative; left: 45%;"> <a class="cart-btn2">Thêm vào giỏ hàng</a>  </div>    
        <div class="cart-price" style="text-align: center;"><h5 >{{ book.Price }} VND</h5> </div>
        </div>         
    </div>
  </section>
</section>