<section class="main-slider" *ngIf="randomBooks">
  <div class="bb-custom-wrapper">
    <div id="bb-bookblock" class="bb-bookblock" >
      <div class="bb-item" *ngFor="let book of randomBooks">
        <div class="bb-custom-content">
          <div class="slide-inner">
            <div class="span4 book-holder"> <a [routerLink]="['/book/detail/', book.BookID ]"><img [src]="book.BookImg ? book.BookImg : 'assets/images/image01.jpg'" class="bookImage"/></a>
              <div class="cart-price"> <a class="cart-btn2" (click)="addCart(book)">Thêm vào giỏ hàng</a> <span class="price"> {{book.Price}} VND</span> </div>
            </div>
            <div class="span8 book-detail">
              <h2>{{ book.BookName }}</h2>
              <strong class="title">Bởi {{ book.AuthorName }}</strong> <span class="rating-bar"> <img src="assets/images/raing-star2.png"  /> </span> <a [routerLink]="['/book-detail', book.BookID]" routerLinkActive="router-link-active"  class="shop-btn">Mua ngay</a>
              <div class="cap-holder">
                <p><img src="assets/images/image27.png" alt="Best Choice" align="right"/> {{book.Summary}}</p>
                <a [routerLink]="['/book/detail/', book.BookID ]">Chi tiết</a> </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
  </div>
  <nav class="bb-custom-nav"> <a  id="bb-nav-prev" class="left-arrow">Previous</a> <a  id="bb-nav-next" class="right-arrow">Next</a> </nav>
</section>
<span class="slider-bottom"><img src="assets/images/slider-bg.png" alt="Shadow"/></span> 