<div class="col-sm-12">
  <div class="row-sm-12">
    <a class="btn btn-outline-primary btn-round" routerLink="/receipt/create">
      <i class="fas fa-plus"></i> Create
    </a>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Receipts
      </h4>
    </div>

    <div class="card-body">
      <div class="row form-group">
        <div class="col-sm-8">
          <pagination-controls (pageChange)="refreshData($event)" id="server"></pagination-controls>
        </div>
      </div>
      <div class="form-group float-right">
        <div class="col-sm">
            Show 
            <select [(ngModel)]="page.PageSize" (change)="refreshData()">
                <option value= 5 >5</option>
                <option value= 10>10</option>
                <option value= 15>15</option>
                <option value= 20>20</option>
              </select>
              <b> Entries</b> of {{ page.TotalItems }} Entries
        </div>         
      </div>
      <div class="row form-group">          
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <label>Employee Name</label>
          <input type="text" class="form-control" placeholder="Enter Employee name for search..."  [(ngModel)]="employeeName" (input)="refreshData()"/>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
          <label>Publisher Name</label>
          <input type="text" class="form-control" placeholder="Enter publisher name for search..."  [(ngModel)]="publisherName" (input)="refreshData()"/>
        </div>
                
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>              
              <th scope="col">Employee Name</th>
              <th scope="col">Publisher Name</th>
              <th scope="col">Receipt Date</th>
              <th scope="col">Total Price</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody *ngIf="receipts">
            <tr *ngFor="let receipt of receipts | paginate: { id: 'server', itemsPerPage: 10, currentPage: page.Currentpage, totalItems: page.TotalItems }">
              <td>{{ receipt.EmployeeID }}</td>
              <td>{{ receipt.PublisherID }}</td>
              <td>{{ receipt.ReceiptDate | date:'HH:mm:ss dd/MM/yyyy' }}</td>
              <td>{{ receipt.TotalPrice }}</td>

              <td class="actions">
                <a [routerLink]="['/receipt/edit/', receipt.ID ]">
                  <button class="btn btn-outline-default btn-round">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </a>
                <button (click)="delete(receipt.ID)" class="btn btn-outline-danger btn-round">
                  <i class="fas fa-trash-alt"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
