figure.span4.slide a img.pro-img {
    width: 220px;
    height: 220px;
}

pagination-controls /deep/ .ngx-pagination li.current {
    color: #f5f5f5; 
    background-color: #98b827;
  }
  
  pagination-controls /deep/ .ngx-pagination li {
    color: gray; 
    background-color: #d8e0ba;
    border-radius: 6px !important;
  }
  
