<!-- Start Grid View Section -->
<div class="product_sort">
  <div class="row-1">
    <div class="left" *ngIf="hasGenreChoosen">
        <span class="s-title">Thể loại</span>
          <span >
            <select [(ngModel)]="genre" (change)="refreshData()">
              <option value=0>All</option>
              <option *ngFor="let item of genres" [value]="item.ID">{{item.Name}}</option>              
            </select>
          </span>
      </div>
      <div class="right">
        <span>Có</span>
          <span>
            <select [(ngModel)]="page.PageSize" (change)="refreshData()">
              <option value= 9 >9</option>
              <option value= 15>15</option>
              <option value= 21>21</option>
            </select>
          </span>
          <span>Mỗi trang</span>
      </div>
  </div>
<div class="row-2">
    <span class="left">Từ {{ (page.Currentpage - 1) * page.PageSize + 1 }} đến {{ page.Currentpage * page.PageSize }} của {{ page.TotalItems }}  cuốn sách</span>
    <ul class="product_view">
      <li>Chế độ xem:</li>
        <li>
            <a class="grid-view" (click)="showGridView = true;">dạng lưới</a>
          </li>
      <li>
            <a class="list-view" (click)="showGridView = false;">danh sách</a>
          </li>
    </ul>
  </div>
</div>
<section class="grid-holder features-books row-fluid" *ngIf="showGridView">
<figure *ngFor="let book of books | paginate: { id: 'server', itemsPerPage: 9, currentPage: page.Currentpage, totalItems: page.TotalItems }; let i = index" [ngClass]="i % 3 == 0 && i > 0 ? 'span4 slide first' : 'span4 slide' ">
    <a [routerLink]="['/book-detail', book.ID]"><img [src]="book.ImgUrl" alt="" class="pro-img"/></a>
      <span class="title"><a [routerLink]="['/book-detail', book.ID]">{{book.Name }}</a></span>
      <span class="rating-bar"><img src="assets/images/rating-star.png" alt="Rating Star"/></span>
      <div class="cart-price">
          <a class="cart-btn2" (click)="addCart(book)" >Thêm giỏ hàng</a>
          <span class="price">{{book.Price}} VND</span>
    </div>
  </figure>  
</section>
<section class="list-holder row-fluid" *ngIf="!showGridView">
  <article class="item-holder" *ngFor="let book of books | paginate: { id: 'server', itemsPerPage: 9, currentPage: page.Currentpage, totalItems: page.TotalItems }">
    <div class="span2">
      <a [routerLink]="['/book-detail', book.ID]"><img [src]="book.ImgUrl" alt="Image07" /></a> </div>
    <div class="span10">
      <div class="title-bar"><a [routerLink]="['/book-detail', book.ID]">{{book.Name}}</a> <span>Bởi {{book.AuthorName}}</span></div>
      <strong>1 Nhận xét</strong>
        <span class="rating-bar"><img alt="Rating Star" src="assets/images/rating-star.png"></span>
        <p>{{book.Sumary}}</p>
        <div class="cart-price">
            <a (click)="addCart(book)" class="cart-btn2">Thêm giỏ hàng</a>
            <span class="price">{{ book.Price }} VND</span>
        </div>
    </div>
  </article>      
</section>
<div class="blog-footer row-fluid">
<div >  
    <pagination-controls (pageChange)="refreshData($event)" id="server" ></pagination-controls>
</div>
  
<ul class="product_view">
     <li>Chế độ xem:</li>
      <li><a class="grid-view" (click)="showGridView = true;">dạng lưới</a></li>
    <li><a class="list-view" (click)="showGridView = false;">danh sách</a></li>
 </ul>
</div>
<!-- End Grid View Section -->