<section class="row-fluid">
  <figure class="span4">
    <h4>Kết nối với chúng tôi</h4>
    <ul class="f2-pots-list">
      <li class="link-footer">
        <a  href="http://ou.edu.vn/">Hiệu sách - Trường đại học Mở Thành phố Hồ Chí Minh</a>
        <span class="comments-num">Địa chỉ: 35 – 37 Hồ Hảo Hớn, Phường Cô Giang, Quận 1, TP. HCM.</span>
      </li>
      <li class="link-footer">
          <a  href="http://it.ou.edu.vn/">Khoa công nghệ thông tin - Trường đại học Mở Thành phố Hồ Chí Minh</a>
          <span class="comments-num">Địa chỉ: Phòng 604 (Lầu 6), số 35 - 37 Hồ Hảo Hớn, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</span>
        </li>
    </ul>
  </figure>
  <figure class="span4">
      <h4>Giờ mở cửa hàng</h4>
      <ul class="f2-pots-list">
        <li class="link-footer">
          <a>Trên trang web</a>
          <span class="comments-num">Mọi lúc mọi nơi</span>
        </li>
        <li class="link-footer">
            <a  href="http://it.ou.edu.vn/">Trên cửa hàng</a>
            <span class="comments-num">Thứ 2 đến thứ 6   ------------- Từ 8h - 21h</span>
            <span class="comments-num">Thứ 7 đến Chủ nhật------------- Từ 8h - 21h</span>
            <span class="comments-num">Không bao gồm ngày nghỉ lễ. tết</span>
          </li>
      </ul>
    </figure>
    <figure class="span4">
        <h4>Địa chỉ</h4>
        <ul class="f2-pots-list">
          <li class="link-footer one-line-footer">
            <a>Cơ sở chính</a>
          </li>
          <li class="link-footer one-line-footer">
              <a>97 Võ Văn Tần, Phường 6, Quận 3, Hồ Chí Minh </a>
            </li>
            <li class="link-footer one-line-footer">
                <a>Điện thoại: 028-38364748.</a>
              </li>
              <li class="link-footer one-line-footer">
                  <a>Fax: 028-39207639 hoặc 028-39207640.</a>
                </li>
                <li class="link-footer one-line-footer">
            <a>E-mail: ou@ou.edu.vn.</a>
          </li>
        </ul>
      </figure>
</section>