<div class="card">
  <div class="card-header admin-card-header">
    <div class="col-sm-12">
      <h3 class="bg-h3">Create Blog Review</h3>
    </div>
  </div>
  <div class="card-body bg-light">
    <form [formGroup]="form" (submit)="onSubmit(form.value)" novalidate>
      <!--item-->
      <div class="form-group">
        <label>Title</label>

        <input formControlName="Title" type="text" class="form-control" placeholder="Please enter phone of blog Review..." />
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="Title.invalid && (Title.dirty || Title.touched)" class="form-text text-danger">
          You must enter the Title of blog Review.
        </small>
      </div>

      <div class="form-group">
        <label>Email</label>

        <input formControlName="Email" type="text" class="form-control" placeholder="Please enter phone of blog Review..." />
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="form-text text-danger">
          You must enter Email user create blog Review.
        </small>
      </div>

      <div class="form-group"  >
        <label>Blog Title</label>
        <select formControlName="BlogName" class="form-control" *ngIf="blogs">
          <option *ngFor="let blog of blogs" [value]="blog.ID" >{{ blog.Name }}</option>
        </select>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="BlogName.invalid && (BlogName.dirty || BlogName.touched)" class="form-text text-danger">
          You must enter the Blog Title of blog Review.
        </small>
      </div>

      <div class="form-group">
        <label for="Content">Content</label>
        <quill-editor formControlName="Content" id="editor" [required]="true"></quill-editor>
        <small *ngIf="Content.invalid && (Content.dirty || Content.touched)" class="form-text text-danger">
          You must enter the Content of blog Review.
        </small>
      </div>

      <div class="card-footer form-group">
        <button [disabled]="form.invalid" type="button" (click)="onSubmit(form.value)" class="btn btn-round btn-outline-primary">Create</button>
        <a routerLink="/blog-review" class="btn btn-round btn-outline-danger">Cancel</a>
      </div>
    </form>
  </div>
</div>
