<div class="error_container">
    <h1 class="error_number">404</h1>
    <div class="error_desc">
        OOPS! Something went wrong here            
    </div>
    <a class="btn btn-round btn-primary" routerLink="/">Homepage</a>
</div>
<div class="error_page">    
</div>