<div class="card">
  <div class="card-header admin-card-header">
    <div class="col-sm-12">
      <h3 class="bg-h3">Create Rate</h3>
    </div>
  </div>
  <div class="card-body bg-light">
    <form [formGroup]="form" (submit)="onSubmit(form.value)" novalidate>
      <!--item-->
      <div class="form-group">
        <label>Title</label>

        <input formControlName="Title" type="text" class="form-control" placeholder="Please enter Title of rate..." />
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="Title.invalid && (Title.dirty || Title.touched)" class="form-text text-danger">
          You must enter the Title of rate.
        </small>
      </div>

      <div class="form-group">
        <label>Rating</label>

        <input formControlName="Rating" type="number" class="form-control" placeholder="Please enter Rating of rate..." />
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="Rating.invalid && (Rating.dirty || Rating.touched)" class="form-text text-danger">
          You must enter rate.
        </small>
      </div>

      <div class="form-group"  >
        <label>Book Title</label>
        <select formControlName="BookID" class="form-control" *ngIf="books">
          <option *ngFor="let book of books" [value]="book.ID" >{{ book.Name }}</option>
        </select>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="BookID.invalid && (BookID.dirty || BookID.touched)" class="form-text text-danger">
          You must enter the Book Title of book.
        </small>
      </div>
      <div class="form-group"  >
        <label>Customer Title</label>
        <select formControlName="CustomerID" class="form-control" *ngIf="books">
          <option *ngFor="let customer of customers" [value]="customer.ID" >{{ customer.Name }}</option>
        </select>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="CustomerID.invalid && (CustomerID.dirty || CustomerID.touched)" class="form-text text-danger">
          You must enter the name of customer.
        </small>
      </div>

      <div class="form-group">
        <label for="Content">Content</label>
        <quill-editor formControlName="Content" id="editor" [required]="true"></quill-editor>
        <small *ngIf="Content.invalid && (Content.dirty || Content.touched)" class="form-text text-danger">
          You must enter the Content of rate.
        </small>
      </div>

      <div class="card-footer form-group">
        <button [disabled]="form.invalid" type="button" (click)="onSubmit(form.value)" class="btn btn-round btn-outline-primary">Create</button>
        <a routerLink="/rate" class="btn btn-round btn-outline-danger">Cancel</a>
      </div>
    </form>
  </div>
</div>
