<section class="row-fluid">
  <section class="span4">
    <h1 id="logo"> <a [routerLink]="['/home']" routerLinkActive="router-link-active" ><img src="shared/core/shoplogo.png" /></a> </h1>
  </section>
  <section class="span8">
    <ul class="top-nav2">
      <li *ngIf="isLogon"><a routerLink="/profile" >Tài khoản</a></li>
      <li *ngIf="!isLogon"><a routerLink="/login" >Đăng nhập</a></li>
      <li *ngIf="!isLogon"><a routerLink="/registry" >Đăng kí</a></li> 
      <li ><a routerLink="/cart">Giỏ hàng</a></li>
      <li *ngIf="isLogon"><a routerLink="/history" >Lịch sử</a></li>      
    </ul>
    <div class="search-bar">
      <input type="text" placeholder="Nhập tên sách cần tìm..." [(ngModel)]="searchInput"/>
      <input name="" type="button" value="Tìm kiếm" (click)="search()" />
    </div>
  </section>
</section>