<ul class="nav">
  <li> <a [routerLink]="['/book']">Sách</a> </li>
  <li> <a [routerLink]="['/searchbygenre', 1]">Văn học</a></li>
  <li><a [routerLink]="['/searchbygenre', 2]">Văn học nước ngoài</a></li>
  <li><a [routerLink]="['/searchbygenre', 3]">Sách giáo khoa</a></li>
  <li><a [routerLink]="['/searchbygenre', 4]">Sách tham khảo</a></li>
  <li><a [routerLink]="['/searchbygenre', 5]">Sách ngoại ngữ</a></li>
  <li> <a [routerLink]="['/searchbygenre', 6]">Sách lịch sử</a></li>
  <li> <a [routerLink]="['/searchbygenre', 7]">Sách sức khỏe</a> </li>
  <li><a [routerLink]="['/searchbygenre', 8]">Truyện tranh</a></li>
</ul>