<div class="col-sm-12">
  <div class="row-sm-12">
    <a class="btn btn-outline-primary btn-round" routerLink="/employee/create">
      <i class="fas fa-plus"></i> Create
    </a>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Employee
      </h4>
    </div>

    <div class="card-body">
      <div class="form-group row" *ngIf="employees">
        <div class="col-sm-8">
          <pagination-controls (pageChange)="refreshData($event)" id="server"></pagination-controls>
        </div>
        <div class="col-sm-4 float-right">
          <div class="input-group no-border">
            <input type="text" [(ngModel)]="searchInput" (input)="refreshData()" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group float-right" *ngIf="employees">
        Show 
         <select [(ngModel)]="page.PageSize" (change)="refreshData()">
             <option value= 5 >5</option>
             <option value= 10>10</option>
             <option value= 15>15</option>
             <option value= 20>20</option>
           </select>
           <b> Entries</b> of {{ page.TotalItems }} Entries
     </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th scope="col">Last Name</th>
              <th scope="col">First Name</th>
              <th scope="col">Image</th>
              <th scope="col">Address</th>
              <th scope="col">Sex</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody *ngIf="employees">
            <tr *ngFor="let employee of employees | paginate: { id: 'server', itemsPerPage: 10, currentPage: page.Currentpage, totalItems: page.TotalItems }">
              <td>{{ employee.LastName }}</td>
              <td>{{ employee.FirstName }}</td>
              <td>
                <img src="{{ employee.ImgUrl }}" class="img-publisher" style="width: 32; height: 32;"/>
              </td>
              <td>{{ employee.Email }}</td>
              <td>{{ employee.Sex ? 'Male' : 'Female' }}</td>

              <td class="actions">
                <a [routerLink]="['/employee/edit/', employee.ID ]">
                  <button class="btn btn-outline-default btn-round">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </a>
                <button data-toggle="modal" data-target="#change-password" class="btn btn-outline-danger btn-round" (click)="setID(employee.ID)" *ngIf="isAdmin">
                    <i class="fas fa-trash-alt"></i> change password
                  </button>
                <button (click)="delete(employee.ID)" class="btn btn-outline-danger btn-round">
                  <i class="fas fa-trash-alt"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- change password  -->
<div class="modal fade" id="change-password" tabindex="-1" role="dialog">
    <div class="modal-dialog align-content-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change Password</h5>
        </div>
        <form [formGroup]='form' (ngSubmit)="changePassword(form.value)" >
          <div class="modal-body">
            <div class="form-group">
              <label>Password :</label>
              <input class="form-control" type="password" formControlName="Password">
              <small *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="form-text text-danger">
                  You must enter Password.
              </small>
            </div>
            <div class="form-group">
                <label>Confirm Password :</label>
                <input class="form-control" type="password" formControlName="ConfirmPassword" (input)="onPasswordInput()">
                <small *ngIf="ConfirmPassword.invalid" class="form-text text-danger">
                    Confirm Password is not same.
                </small>
            </div>
          </div>
          <div class="modal-footer" style="margin-right:30px">
            <button type="submit" class="btn btn-primary btn-round" [disabled]="!form.valid" >Save</button>
            <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal" (click)="resetInput()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end change password  -->