<div class="col-sm-12">
  <div class="row-sm-12">
    <a class="btn btn-outline-primary btn-round" routerLink="/author/create">
      <i class="fas fa-plus"></i> Create
    </a>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Author
      </h4>
    </div>

    <div class="card-body">
      <div class="row form-group">
        <div class="col-sm-8">
          <pagination-controls (pageChange)="refreshData($event)" id="server"></pagination-controls>
        </div>
        <div class="col-sm-4 float-right">
          <div class="input-group no-border">
            <input type="text" [(ngModel)]="searchInput" (input)="refreshData()" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group float-right">
         Show 
          <select [(ngModel)]="page.PageSize" (change)="refreshData()">
              <option value= 5 >5</option>
              <option value= 10>10</option>
              <option value= 15>15</option>
              <option value= 20>20</option>
            </select>
            <b> Entries</b> of {{ page.TotalItems }} Entries
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th scope="col">Last Name</th>
              <th scope="col">First Name</th>
              <th scope="col">Image</th>
              <th scope="col">Sex</th>
              <th scope="col">Sumary</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody *ngIf="authors">
            <tr *ngFor="let author of authors | paginate: { id: 'server', itemsPerPage: 10, currentPage: page.Currentpage, totalItems: page.TotalItems }">
              <td>{{ author.LastName }}</td>
              <td>{{ author.FirstName }}</td>
              <td>
                <img src="{{ author.ImgUrl }}" class="img-publisher" />
              </td>
              <td>{{ author.Sex ? 'Male' : 'Female' }}</td>
              <td>{{ author.Sumary }}</td>

              <td class="actions">
                <a [routerLink]="['/author/edit/', author.ID ]">
                  <button class="btn btn-outline-default btn-round">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </a>
                <button (click)="delete(author.ID)" class="btn btn-outline-danger btn-round">
                  <i class="fas fa-trash-alt"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
