<div class="card">
  <div class="card-header admin-card-header">
    <div class="col-sm-12">
      <h3 class="bg-h3">Edit Blog</h3>
    </div>
  </div>
  <div class="card-body bg-light">
    <form [formGroup]="form" (submit)="onSubmit(form.value)" *ngIf="isReady" novalidate>
      <div class="form-group">
        <div class="fileinput text-center fileinput-new" data-provides="fileinput">
          <div class="fileinput-new thumbnail img-raised">
            <img style="border:1px solid #ddd" [src]="ImgUrl.value ? ImgUrl.value : 'Shared/core/imgnotfound.png'" />
          </div>

          <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>

          <div>
            <span class="btn btn-raised btn-round btn-outline-default btn-file">
              <span class="fileinput-new">Select Thumbnail</span>

              <input (change)="onThumbnailFileChanged($event)" type="file" accept="image/*" />
            </span>
          </div>
        </div>
      </div>
      <!--item-->
      <div class="form-group">
        <label>Title</label>

        <input formControlName="Title" type="text" class="form-control" placeholder="Please enter Title of blog..." />
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="Title.invalid && (Title.dirty || Title.touched)" class="form-text text-danger">
          You must enter the Title of blog.
        </small>
      </div>

      <div class="form-group">
        <label>Creator</label>

        <input formControlName="Creator" type="text" class="form-control" />

      </div>


      <div class="form-group">
        <label>Sumary</label>

        <textarea formControlName="Sumary" class="form-control"></textarea>
        <small *ngIf="Sumary.invalid && (Sumary.dirty || Sumary.touched)" class="form-text text-danger">
          You must enter the Sumary of blog.
        </small>
      </div>
      <div class="form-group">
        <label for="Content">Content</label>

        <quill-editor formControlName="Content" id="editor"></quill-editor>
        <small *ngIf="Sumary.invalid && (Sumary.dirty || Sumary.touched)" class="form-text text-danger">
          You must enter the Content of blog.
        </small>
      </div>


      <div class="card-footer form-group">
        <button [disabled]="form.invalid" type="button" (click)="onSubmit(form.value)" class="btn btn-round btn-outline-primary">Edit</button>
        <a routerLink="/blog" class="btn btn-round btn-outline-danger">Cancel</a>
      </div>
    </form>
  </div>
</div>
