<figure class="span4 s-product" *ngFor="let book of bookRandom">
    <div class="s-product-img"><a [routerLink]="['/book-detail', book.BookID]"><img [src]="book.BookImg" /></a></div>
    <article class="s-product-det">
      <h3><a [routerLink]="['/book-detail', book.BookID]">{{book.BookName}}</a></h3>
      <p>{{ book.Summary }}</p>
      <span class="rating-bar"><img src="assets/images/rating-star.png" alt="Rating Star"/></span>
      <div class="cart-price"> <a (click)="addCart(book)" class="cart-btn2">Thêm vào giỏ hàng</a> <span class="price">{{ book.Price }} VND</span> </div>
      <span class="sale-icon">Sale</span> </article>
</figure>
  