<div class="col-sm-12">
  <div class="row-sm-12">
    <button class="btn btn-outline-primary btn-round" data-toggle="modal" data-target="#GenreModal" (click)="getGenre(-1)">
      <i class="fas fa-plus"></i> Create
    </button>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Genre
      </h4>
    </div>

    <div class="card-body">
      <div class="form-group row" *ngIf="genres">
        <div class="col-sm-8">
          <pagination-controls (pageChange)="refreshData($event)" id="server"></pagination-controls>
        </div>
        <div class="col-sm-4 float-right">
          <div class="input-group no-border">
            <input type="text" [(ngModel)]="searchInput" (input)="refreshData()" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group float-right" *ngIf="genres">
        Show 
         <select [(ngModel)]="page.PageSize" (change)="refreshData()">
             <option value= 5 >5</option>
             <option value= 10>10</option>
             <option value= 15>15</option>
             <option value= 20>20</option>
           </select>
           <b> Entries</b> of {{ page.TotalItems }} Entries
     </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody *ngIf="genres">
            <tr *ngFor="let genre of genres | paginate: { id: 'server', itemsPerPage: 10, currentPage: page.Currentpage, totalItems: page.TotalItems }">
              <td>{{ genre.Name }}</td>
              <td>{{ genre.Description }}</td>
              <td class="actions">
                  <button class="btn btn-outline-default btn-round" data-toggle="modal" data-target="#GenreModal" (click)="getGenre(genre.ID)">
                    <i class="fas fa-edit" ></i> Edit
                  </button>
                <!-- <button (click)="delete(genre.ID)" class="btn btn-outline-danger btn-round">
                  <i class="fas fa-trash-alt"></i> Delete
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="GenreModal" tabindex="-1" role="dialog" aria-labelledby="GenreLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ isCreate ? 'Create' : 'Edit' }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (submit)="onSubmit(form.value)" novalidate>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>

            <input formControlName="Name" type="text" class="form-control" placeholder="Please enter address of genre..." />
            <small *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="form-text text-danger">
              You must enter the name of genre.
            </small>
            
          </div>
          <div class="form-group">
            <label>Description</label>
            
            <textarea formControlName="Description" class="form-control"></textarea>
            <small *ngIf="Description.invalid && (Description.dirty || Description.touched)" class="form-text text-danger">
              You must enter the desciption of genre (max length = 300).
            </small>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="form.invalid" type="button" (click)="onSubmit(form.value)" class="btn btn-round btn-outline-primary" data-dismiss="modal">{{ isCreate ? 'Create' : 'Edit' }}</button>
          <button type="button" class="btn btn-round btn-outline-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>