<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Roles
      </h4>
    </div>

    <div class="card-body">
      <div class="form-group row" *ngIf="userRoles">
        <div class="col-sm-8">
          <pagination-controls (pageChange)="refreshData($event)" id="server"></pagination-controls>
        </div>
        <div class="col-sm-4 float-right">
          <div class="input-group no-border">
            <input type="text" [(ngModel)]="searchInput" (input)="refreshData()" class="form-control" placeholder="Search by name...">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group float-right" *ngIf="userRoles">
        Show 
         <select [(ngModel)]="page.PageSize" (change)="refreshData()">
             <option value= 5 >5</option>
             <option value= 10>10</option>
             <option value= 15>15</option>
             <option value= 20>20</option>
           </select>
           <b> Entries</b> of {{ page.TotalItems }} Entries
     </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th scope="col">Last Name</th>
              <th scope="col">First Name</th>
              <th scope="col">Avatar</th>
              <th scope="col">Admin</th>
              <th scope="col">Hr</th>
              <th scope="col">IsSaleman</th>
              <th scope="col">IsStockKeeper</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody *ngIf="userRoles">
            <tr *ngFor="let userRole of userRoles | paginate: { id: 'server', itemsPerPage: 10, currentPage: page.Currentpage, totalItems: page.TotalItems }">
              <td>{{ userRole.LastName }}</td>
              <td>{{ userRole.FirstName }}</td>
              <td>
                <img [src]="userRole.ImgUrl ? userRole.ImgUrl : 'Shared/core/user.png' " class="img-publisher" />
              </td>
              <td>
                <label class="container">
                  <input type="checkbox" [checked]="userRole.IsAdmin" (change)='userRole.IsAdmin = !userRole.IsAdmin'>
                  <span class="checkmark"></span>
                </label>    
              </td>
              <td>
                <label class="container">
                  <input type="checkbox" [checked]="userRole.IsHr" (change)='userRole.IsHr = !userRole.IsHr'>
                  <span class="checkmark"></span>
                </label>   
              </td>
              <td>
                <label class="container">
                  <input type="checkbox" [checked]="userRole.IsSaleman" (change)='userRole.IsSaleman = !userRole.IsSaleman'>
                  <span class="checkmark"></span>
                </label>   
              </td>
              <td>
                <label class="container">
                  <input type="checkbox" [checked]="userRole.IsStockKeeper" (change)='userRole.IsStockKeeper = !userRole.IsStockKeeper'>
                  <span class="checkmark"></span>
                </label>   
              </td>
              <td class="actions">
                  <button class="btn btn-outline-default btn-round" (click)="editRole(userRole)">
                    <i class="fas fa-edit" ></i> Edit
                  </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


