<section class="row-fluid">
  <div class="heading-bar">
    <h2>Đăng kí</h2>
    <span class="h-line"></span> </div>
  <!-- Start Main Content -->
  <section class="checkout-holder">
    <section class="first">
      <!-- Start Accordian Section -->      
      <div class="accordion" id="accordion2">           
        <div class="accordion-group">
          <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" ><strong class="green-t">Tạo tài khoản mới</strong> </a> </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">              
              <form [formGroup]="form" (submit)="onSubmit(form.value)" class="bg-light col-sm-12" novalidate>
                <div class="span4 b-img-holder">
                  <span class='zoom' id='ex1'> <img [src]="ImgUrl.value ? ImgUrl.value : 'Shared/core/imgnotfound.png'" height="219" width="300" id='jack' alt=''/></span>
                  <input (change)="onThumbnailFileChanged($event)" type="file" accept="image/*" />
                </div>
                <div class="span8">
                  <ul class="billing-form">
                    <li>
                        <div class="control-group">
                          </div>
                    </li>
                    <li>
                        <div class="control-group">
                            <label>Tên</label>
              
                            <input formControlName="FirstName" type="text" class="form-control" placeholder="Nhập tên của bạn..." />
              
                            <small *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)" class="form-text text-danger">
                              Tên không được để trống
                            </small>
                          </div>
                          <div class="control-group">
                            <label>Họ</label>
              
                            <input formControlName="LastName" type="text" class="form-control" placeholder="Nhập họ của bạn..." />
              
                            <small *ngIf="LastName.invalid && (LastName.dirty || LastName.touched)" class="form-text text-danger">
                                Tên không được để trống
                            </small>
                          </div>
                    </li>
                    <li>
                        <div class="control-group">
                            <label>Email</label>
                
                            <input formControlName="Email" type="text" class="form-control address-field" placeholder="Nhập Email của bạn..." />
                
                            <small *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="form-text text-danger">
                              Email không được để trống và phải đúng định dạng
                            </small>
                          </div>
                    </li>
                    <li>
                        <div class="control-group">
                            <label>Giới tính</label>
                            <label class="radio b-label">
                                <input type="radio" formControlName="Sex" id="optionsRadios1" value="true">
                               Nam
                            </label>
                            <label class="radio b-label">
                                <input type="radio" formControlName="Sex" id="optionsRadios2" value="false">
                                Nữ
                            </label>                           
                          </div>
                          <!-- <div class="control-group">
                              <label>Birthday</label>
                
                              <angular2-date-picker  [(ngModel)]="form.value.Birthday" [settings]="{
                                bigBanner: false,
                                timePicker: false,
                                format: 'dd-MM-yyyy'
                            }"></angular2-date-picker>
                            </div>  -->
                            <div class="control-group">
                                <label>Điện thoại</label>
                    
                                <input formControlName="Phone" type="text" class="form-control" placeholder="Nhập điện thoại của bạn..." />
                              </div>
                    </li>
                    <li>
                        <div class="control-group">
                            <label>Địa chỉ</label>
                
                            <input formControlName="Address" type="text" class="form-control address-field" placeholder="Nhập điện thoại của bạn..." />
                          </div>
                    </li>
                    <li>
                        <div class="control-group">
                            <label>Mật khẩu</label>
                    
                            <input formControlName="Password" type="password" class="form-control" placeholder="Nhập mật khẩu của bạn..." />
                            <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->
                    
                            <small *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="form-text text-danger">
                              Mật khẩu không được phép để trống
                            </small>
                          </div>    
                    </li>
                  </ul>
                </div>
                <div class="card-footer">
                  <button [disabled]="form.invalid" type="submit" class="more-btn left">Đăng kí</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Accordian Section -->
    </section>   
  </section>
  <!-- End Main Content -->
</section>