<div>
  <div layout="row">
      <div class="wrapper">
          <nav id="main-sidebar" class="sidebar app-side-bar " data-color="brown" data-active-color="danger"></nav>
          <div class="main-panel">
              <nav class="app-navigation navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                    <app-notification class="notification-fix-top"></app-notification >
              </nav>
              <div class="content">
                    
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
  </div>
</div>