<section class="container-fluid container">
  <section class="row-fluid">
    <section class="span6">
      <ul class="top-nav">
        <li><a routerLink="/home" routerLinkActive="active">Trang chủ</a></li>
        <li><a routerLink="/book" routerLinkActive="active">Sách</a></li>
        <li><a routerLink="/blog" routerLinkActive="active">Tin tức</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Liên hệ</a></li>
      </ul>
    </section>
    <section class="span6 e-commerce-list">
      <ul>
        <li *ngIf="!isLogon">Xin chào! <a routerLink="/login">Đăng nhập </a> hoặc <a routerLink="/registry"> tạo tài khoản mới</a></li>
        <li *ngIf="isLogon">         
          <div class="btn-group" >
            <button data-toggle="dropdown" class="btn btn-mini dropdown-toggle">Xin chào! <strong>{{ userName }}</strong><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a routerLink="/profile">Profile</a></li>
              <li><a [routerLink]="['/change-password']" routerLinkActive="router-link-active" >Đổi mật khẩu</a></li>
              <li><a (click)="logOut()">Đăng xuất</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="c-btn span4"> <a routerLink="/cart" class="cart-btn">Giỏ hàng</a>
        <div class="btn-group">
          <button class="btn btn-mini">{{totalItem}} cuốn sách - {{totalPrice}}VND</button>          
        </div>
      </div>
    </section>
  </section>
</section>
