<div class="col-sm-12">
  <div class="row-sm-12">
    <a class="btn btn-outline-primary btn-round" routerLink="/rate/create">
      <i class="fas fa-plus"></i> Create
    </a>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Rates
      </h4>
    </div>

    <div class="card-body">
      <div class="row form-group">
        <div class="col-sm-8">
          <pagination-controls (pageChange)="refreshData($event)" id="server"></pagination-controls>
        </div>
      </div>
      <div class="form-group float-right">
        <div class="col-sm">
            Show 
            <select [(ngModel)]="page.PageSize" (change)="refreshData()">
                <option value= 5 >5</option>
                <option value= 10>10</option>
                <option value= 15>15</option>
                <option value= 20>20</option>
              </select>
              <b> Entries</b> of {{ page.TotalItems }} Entries
        </div>         
      </div>
      <div class="row form-group">
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Enter Title rate for search..."  [(ngModel)]="keyword" (input)="refreshData()"/>
            </div>  
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <label>Book Name</label>
          <input type="text" class="form-control" placeholder="Enter title of book for search..."  [(ngModel)]="bookName" (input)="refreshData()"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
          <label>Customer Name</label>
          <input type="text" class="form-control" placeholder="Enter customer name for search..."  [(ngModel)]="customerName" (input)="refreshData()"/>
        </div>
                
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Rating</th>
              <th scope="col">Book Name</th>
              <th scope="col">Customer Name</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody *ngIf="rates">
            <tr *ngFor="let rate of rates | paginate: { id: 'server', itemsPerPage: 10, currentPage: page.Currentpage, totalItems: page.TotalItems }">
              <td>{{ rate.Title }}</td>
              <td>{{ rate.Rating }}</td>
              <td>{{ rate.BookID }}</td>
              <td>{{ rate.CustomerID }}</td>

              <td class="actions">
                <a [routerLink]="['/rate/edit/', rate.ID ]">
                  <button class="btn btn-outline-default btn-round">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </a>
                <button (click)="delete(rate.ID)" class="btn btn-outline-danger btn-round">
                  <i class="fas fa-trash-alt"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
