<div class="card">
  <div class="card-header admin-card-header">
    <div class="col-sm-12">
      <h3 class="bg-h3">Edit Book</h3>
    </div>
  </div>
  <div class="card-body bg-light">
    <form [formGroup]="form" (submit)="onSubmit(form.value)" *ngIf="isReady" novalidate>
      <div class="form-group row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <div class="fileinput text-center fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail img-raised">
              <img style="border:1px solid #ddd" [src]="ImgUrl.value ? ImgUrl.value : 'Shared/core/ImgNotFound.png'" />
            </div>

            <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>

            <div>
              <span class="btn btn-raised btn-round btn-outline-default btn-file">
                <span class="fileinput-new">Select Thumbnail</span>

                <input (change)="onThumbnailFileChanged($event)" type="file" accept="image/*" />
              </span>
            </div>
          </div>
        </div>
        <!--item-->
        <div class="col col-sm-12 col-md-8 col-lg-8 col-xl-9">
          
          <div class="form-group">
            <label>Name</label>

            <input formControlName="Name" type="text" class="form-control" placeholder="Please enter name of Book..." />
            <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

            <small *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="form-text text-danger">
              You must enter the Name of Book.
            </small>
          </div>
          
          <div class="form-group row">
            <div class="col-md-6">
              <label>Rating</label>

              <input formControlName="Rating" type="text" class="form-control" placeholder="Please enter fist name of book..." />

              
            </div>
            <div class="col-md-6">
              <label>Total</label>

              <input formControlName="Total" type="text" class="form-control" placeholder="Please enter first name of book..." />

             
            </div>
          </div>

          <div class="form-group">
            <label>Price</label>

            <input formControlName="Price" type="number" class="form-control" placeholder="Please enter address of publisher..." />
            <!-- [class]="{Address.invalid && (Address.dirty || Address.touched) ? 'has-success': 'has-danger'}"/> -->
            <small *ngIf="Price.invalid && (Price.dirty || Price.touched)" class="form-text text-danger">
              You must enter the Price of Book.
            </small>
            
          </div>
          <div class="form-group"  >
            <label>Author</label>
            <select formControlName="Author" class="form-control" *ngIf="authors">
              <option *ngFor="let author of authors" [value]="author.ID" >{{ author.Name }}</option>
            </select>
            <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->
    
            <small *ngIf="Author.invalid && (Author.dirty || Author.touched)" class="form-text text-danger">
              You must enter the Book Author.
            </small>
          </div>
          <div class="form-group"  >
            <label>Publisher</label>
            <select formControlName="Publisher" class="form-control" *ngIf="publishers">
              <option *ngFor="let publisher of publishers" [value]="publisher.ID" >{{ publisher.Name }}</option>
            </select>
            <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->
    
            <small *ngIf="Publisher.invalid && (Publisher.dirty || Publisher.touched)" class="form-text text-danger">
              You must enter the Book Publisher.
            </small>
          </div>
        </div>
       
      </div>
      <div class="form-group"  >
        <label>Genre</label>
        <select formControlName="Genre" class="form-control" *ngIf="authors">
          <option *ngFor="let genre of genres" [value]="genre.ID" >{{ genre.Name }}</option>
        </select>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="Genre.invalid && (Genre.dirty || Genre.touched)" class="form-text text-danger">
          You must enter the Genre of Book.
        </small>
      </div>
      <div class="form-group">
        <a class="btn btn-round btn-outline-primary" (click)="addBookImage()">Add Detail Book Image</a>
        <div class="row"  style="background-color: #fff" formArrayName="BookImg">          
          <div class="col-md-3 col-sm-3" *ngFor="let bookImg of BookImg.controls; let i=index" [formGroupName]="i">
            <div class="fileinput text-center fileinput-new" data-provides="fileinput">
              <div class="fileinput-new thumbnail img-raised">
                <img style="border:1px solid #ddd" src="{{ bookImg.value.BookUrl ? bookImg.value.BookUrl : 'Shared/core/ImgNotFound.png'}}" />
              </div>
  
              <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
  
              <div>
                <span class="btn btn-raised btn-round btn-outline-default btn-file">
                  <span class="fileinput-new">Select Thumbnail</span>
  
                  <input (change)="uploadBookImage($event, bookImg)" type="file" accept="image/*" />
                </span>
                    <a (click)="deleteBookImage(bookImg,i)" class="btn btn-outline-danger btn-round">
                        <i class="fas fa-trash-alt"></i> Delete
                      </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Sumary</label>
        
        <textarea formControlName="Sumary" class="form-control"></textarea>
        <small *ngIf="Sumary.invalid && (Sumary.dirty || Sumary.touched)" class="form-text text-danger">
            You must enter the Sumary of book and max length = 300.
        </small>
      </div>
      <div class="form-group">
        <label for="Content">Content</label>
        
        <quill-editor formControlName="Content" id="editor"></quill-editor>
      </div>

      <div class="card-footer form-group">
        <button [disabled]="form.invalid" type="button" (click)="onSubmit(form.value)" class="btn btn-round btn-outline-primary">Edit</button>
        <a routerLink="/book" class="btn btn-round btn-outline-danger">Cancel</a>
      </div>


    </form>
  </div>
</div>
