<div class="row" *ngIf="isReady">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="Shared/core/background-profile.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <a >
            <img class="avatar border-gray" [src]="employee.ImgUrl ? employee.ImgUrl : 'Shared/core/user.png'" alt="...">
            <div>
              <span class="btn btn-raised btn-round btn-outline-primary btn-file ">
                <span class="fileinput-new">Change Avatar</span>

                <input (change)="onThumbnailFileChanged($event)" type="file" accept="image/*" />
              </span>
            </div>
            <h5 class="title">{{employee.FirstName + ' ' + employee.LastName}}</h5>
          </a>
          <p class="description">
            {{employee.Email}}
          </p>
        </div>
        <p class="description text-center">
          "I like the way you work it
          <br> No diggity
          <br> I wanna bag it up"
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>50
                <br>
                <small>Books</small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>100
                <br>
                <small>Trade</small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>24,6$
                <br>
                <small>Earn</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Company (disabled)</label>
                <input type="text" class="form-control" disabled="" placeholder="Company" value="Book Store">
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Role</label>
                <input type="text" class="form-control" placeholder="Role" [value]="getRole()">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" placeholder="Email" value="{{employee.Email}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="First Name" value="{{employee.FirstName}}">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" value="{{employee.LastName}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Home Address"  value="{{employee.Address}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Sex</label>
                <input type="text" class="form-control" placeholder="Sex" value="{{ employee.Sex ? 'Male' : 'Female'}}">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control" placeholder="Phone" value="{{employee.Phone}}">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Birthday</label>
                <input type="text" class="form-control" placeholder="Birthday" value="{{employee.Birthday | date:'dd/MM/yyyy'}}">
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="8" cols="80" class="form-control textarea" >
                  "I like the way you work it
                  No diggity
                  I wanna bag it up"
                </textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>