<div class="col-sm-12">
  <div class="row-sm-12">
    <a class="btn btn-outline-primary btn-round" routerLink="/book/create">
      <i class="fas fa-plus"></i> Create
    </a>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Book
      </h4>
    </div>

    <div class="card-body">
      <div class="row form-group">
        <div class="col-sm-8">
          <pagination-controls (pageChange)="refreshData($event)" id="server"></pagination-controls>
        </div>       
        
  
      </div>
      <div class="row form-group">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <label>Book Name</label>
          <input type="text" class="form-control" placeholder="Enter title of book for search..."  [(ngModel)]="bookName" (input)="refreshData()"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <label>Author Name</label>
          <input type="text" class="form-control" placeholder="Enter Author name of book for search..."  [(ngModel)]="authorName" (input)="refreshData()"/>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <label>Publisher Name</label>
          <input type="text" class="form-control" placeholder="Enter Publisher name of book for search..."  [(ngModel)]="publisherName" (input)="refreshData()"/>
        </div>
      </div>
      <div class="form-group float-right">
         Show 
          <select [(ngModel)]="page.PageSize" (change)="refreshData()">
              <option value= 5 >5</option>
              <option value= 10>10</option>
              <option value= 15>15</option>
              <option value= 20>20</option>
            </select>
            <b> Entries</b> of {{ page.TotalItems }} Entries
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Author Name</th>
              <th scope="col">Image</th>
              <th scope="col">Total</th>
              <th scope="col">Publisher Name</th>
              <th scope="col">Sumary</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody *ngIf="books">
            <tr *ngFor="let book of books | paginate: { id: 'server', itemsPerPage: 10, currentPage: page.Currentpage, totalItems: page.TotalItems }">
              <td>{{ book.Name }}</td>
              <td>{{ book.AuthorName }}</td>
              <td>
                <img src="{{ book.ImgUrl }}" class="img-publisher" />
              </td>
              <td>{{ book.Total }}</td>
              <td>{{ book.PublisherName }}</td>
              <td>{{ book.Sumary }}</td>

              <td class="actions">
                <a [routerLink]="['/book/edit/', book.ID ]">
                  <button class="btn btn-outline-default btn-round">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </a>
                <button (click)="delete(book.ID)" class="btn btn-outline-danger btn-round">
                  <i class="fas fa-trash-alt"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
