<!-- Strat Book Detail Section -->
<section class="b-detail-holder" *ngIf="book">
  <article class="title-holder">
      <div class="span6">
          <h4><strong>{{book.Name}}</strong> Bởi <a [routerLink]="['book/searchbyauthor', book.Author]">{{book.AuthorName}}</a></h4>
        </div>
        <div class="span6 book-d-nav">
          <ul>
              <li><a >{{book.TotalReview}} Đánh giá</a></li>
                <li><i class="icon-envelope"></i><a [routerLink]="['book/searchbypublisher', book.Publisher]">  {{book.PublisherName}}</a></li>
            </ul>
        </div>
    </article>
    <div class="book-i-caption">
    <!-- Strat Book Image Section -->
      <div class="span6 b-img-holder">
            <span class='zoom' id='ex1'> <img [src]="book.ImgUrl ? book.ImgUrl : 'shared/core/imgnotfound.png'" height="219" width="300" id='jack' alt=''/></span>
        </div>
    <!-- Strat Book Image Section -->
    
    <!-- Strat Book Overview Section -->    
        <div class="span6">
          <strong class="title">Giới thiệu chung</strong>
          <div class="comm-nav">
              <span [innerHTML]="overviewContent(book.Content) | sanitizeHtml"> </span>           
          </div>
          <div class="comm-nav">
            <p style="font-size: 25px;">Trạng thái: <a >{{book.Total > 0 ? 'Còn hàng' : 'Hết hàng'}}</a></p>
          </div>          
            <div class="comm-nav">
              <strong class="title2">Số lượng</strong>
                <ul>
                  <li><input [(ngModel)]="quantity" type="number" style="width: 50px;"/></li>
                  <li class="b-price">{{book.Price}} VND</li>
                   <li><a (click)="addCart(book)" class="more-btn">+ Thêm giỏ hàng</a></li>
                </ul>
                <a style="font-size: 25px;" [routerLink]="['/searchbygenre/', book.GenreID]">{{book.GenreName}}</a>
            </div>
       </div>
    <!-- End Book Overview Section -->
    </div>
    <!-- Start BX Slider holder -->  
<section class="related-book" *ngIf="bookImages">
  <div class="heading-bar">
    <h2>Hình minh hoạ</h2>
      <span class="h-line"></span>
  </div>
  <div class="slider6">
            <div class="slide" *ngFor="let img of bookImages">
              <img [src]="img.BookUrl" alt="" class="pro-img"/>
            </div>          
          </div>
     </section>
  <!-- End BX Slider holder -->
    <!-- Start Book Summary Section -->
      <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#pane1" data-toggle="tab">Sợ lược</a></li>
            <li><a href="#pane2" data-toggle="tab">Chi tiết</a></li>
          </ul>
          <div class="tab-content">
            <div id="pane1" class="tab-pane active">
              {{book.Sumary}}
            </div>
            <div id="pane2" class="tab-pane" >
            <span [innerHTML]="book.Content | sanitizeHtml"> </span>
            </div>
          </div><!-- /.tab-content -->
        </div><!-- /.tabbable -->
    <!-- End Book Summary Section -->



<!-- Stsrt Customer Reviews Section -->
  <section class="reviews-section" >   
    <div class="r-title-bar">
      <strong>Nhận xét của bạn</strong>
    </div>
    <form [formGroup]="form" (submit)="onSubmit(form.value)" class="form-horizontal" novalidate>
    <ul class="review-f-list">
      <li>
        <label>Tiêu đề *</label>
        <input name="" type="text" formControlName="Title"/>
      </li>
      <li>
          <label>Đánh giá *</label>
          <select formControlName="Rating">
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5 selected>5</option>
          </select>
        </li>          
          <li>
            <label>Nội dung *</label>
              <textarea name="" cols="2" rows="20" formControlName="Content"></textarea>
              <small *ngIf="Content.invalid && (Content.dirty || Content.touched)" class="form-text text-danger">
                  Nội dung bình luận chưa được nhập hoặc lớn hơn 300 ký tự
                </small>
          </li>
         
      </ul>      
      <button  type="submit" class="btn" [disabled]="!form.valid">Đăng</button>
    </form>
    </section>
    <section class="reviews-section" *ngIf="rates">   
        <div class="r-title-bar">
          <strong>Ý kiến bạn đọc</strong>
        </div>
        <ul class="review-list">
            <li [ngClass]="i % 2 == 0 ? 'comment' : 'comment2'" *ngFor="let rate of rates | paginate: { id: 'server', itemsPerPage: 2, currentPage: page.Currentpage, totalItems: page.TotalItems }; let i = index">
                <span class="rating-bar"><img src="assets/images/rating-star.png" alt="Rating Star"/></span>
                <em class="">{{ rate.BookName }}</em>
                <h4>{{rate.Title}}</h4>
                <h5> {{rate.CustomerName}}</h5>
                <p>{{rate.Content}}</p>
              </li>             
          </ul>
          <pagination-controls (pageChange)="refreshData($event)" id="server" ></pagination-controls>
        </section>
<!-- End Customer Reviews Section -->
</section>
<!-- Strat Book Detail Section -->