pagination-controls /deep/ .ngx-pagination li.current {
    color: #f5f5f5; 
    background-color: #98b827;
  }
  
  pagination-controls /deep/ .ngx-pagination li {
    color: gray; 
    background-color: #d8e0ba;
    border-radius: 6px !important;
  }

li.comment {
  background-color: rgb(230, 230, 230) !important;
  padding-left: 10px; 
}

li.comment2 {
  background-color: #e4f3b0 !important;
  padding-left: 10px;
  margin-left: 20px;
}

small.form-text.text-danger {
  color: rgb(187, 57, 57);
}