<section class="row-fluid">
  <div class="heading-bar">
    <h2>Đăng nhập</h2>
    <span class="h-line"></span> </div>
  <!-- Start Main Content -->
  <section class="checkout-holder">
    <section class="first">
      <!-- Start Accordian Section -->      
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" > <strong class="green-t">Đăng nhập</strong> </a></div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">              
              <div class="check-method-right"> 
                <form class="form-horizontal" [formGroup]='form' (ngSubmit)= "loginUser()">
                  <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                      <input type="text" formControlName="Email" placeholder="Nhập địa chỉ email của bạn">
                    </div>
                    <small *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="form-text text-danger">
                      Email không được bỏ trống
                    </small>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputPassword">Mật khẩu</label>
                    <div class="controls">
                      <input type="password" formControlName="Password" placeholder="Nhập mật khẩu của bạn">
                    </div>
                    <small *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="form-text text-danger">
                      Mật khẩu không được bỏ trống
                    </small>
                  </div>
                  <p><a >Quên mật khẩu?</a></p>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="more-btn" >Đăng nhập</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>    
      </div>
      <!-- End Accordian Section -->
    </section>   
  </section>
  <!-- End Main Content -->
</section>