
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
        <a class="navbar-brand" routerLink="/dashboard">BookStore Admin</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
        <form>
          <div class="input-group no-border">
            <input type="text" value="" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
        </form>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn-magnify" routerLink="/dashboard">
              <i class="nc-icon nc-layout-11"></i>
              <p>
                <span class="d-lg-none d-md-block">Stats</span>
              </p>
            </a>
          </li>
          <li class="nav-item btn-rotate dropdown">
            <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="nc-icon nc-bell-55"></i>
              <p>
                <span class="d-lg-none d-md-block">Some Actions</span>
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item btn-rotate dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img [src]="employee.ImgUrl != null ? employee.ImgUrl : 'Shared/core/user.png'" class="admin-photo-icon">
              <p>
                <span class="d-lg-none d-md-block">{{ employee.FirstName + ' ' + employee.LastName }}</span>
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/dashboard">Profiles</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#change-password-nav">Change Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logOut()">Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- change password  -->
<div class="modal fade" id="change-password-nav" tabindex="-1" role="dialog">
  <div class="modal-dialog align-content-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
      </div>
      <form [formGroup]='form' (ngSubmit)="changePassword(form.value)">
        <div class="modal-body">
          <div class="form-group">
            <label>Password :</label>
            <input class="form-control" type="password" formControlName="Password">
            <small *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="form-text text-danger">
                You must enter Password.
            </small>
          </div>
          <div class="form-group">
              <label>Confirm Password :</label>
              <input class="form-control" type="password" formControlName="ConfirmPassword" (input)="onPasswordInput()">
              <small *ngIf="ConfirmPassword.invalid" class="form-text text-danger">
                  Confirm Password is not same.
              </small>
          </div>
        </div>
        <div class="modal-footer" style="margin-right:30px">
          <button type="submit" class="btn btn-primary btn-round" [disabled]="!form.valid" >Save</button>
          <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal" (click)="resetInput()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end change password  -->