<section class="row-fluid">
  <figure class="span3">
    <h4>Newsletter</h4>
    <p>Subscribe to be the first to know about Best Deals and Exclusive Offers!</p>
    <input name="" type="text" class="field-bg" value="Enter Your Email"/>
    <input name="" type="submit" value="Subscribe" class="sub-btn" />
  </figure>
  <figure class="span3">
    <h4>Twitter</h4>
   
  </figure>
  <figure class="span3">
    <h4>Location</h4>
    <p>5/23, Loft Towers, Business Center, 6th Floor, Media City, Dubai.</p>
    <span>
    <ul class="phon-list">
      <li>(971) 438-555-314</li>
      <li>(971) 367-252-333</li>
    </ul>
    </span> <span class="mail-list"> <a >info@companyname</a><br />
    <a >jobs@companyname.com</a> </span> </figure>
  <figure class="span3">
    <h4>Opening Time</h4>
    <p>Monday-Friday ______8.00 to 18.00</p>
    <p>Saturday ____________ 9.00 to 18.00</p>
    <p>Sunday _____________10.00 to 16.00</p>
    <p>Every 30 day of month Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </figure>
</section>