<div class="card">
  <div class="card-header admin-card-header">
    <div class="col-sm-12">
      <h3 class="bg-h3">Edit Publisher</h3>
    </div>
  </div>
  <div class="card-body bg-light">
    <form [formGroup]="form" (submit)="onSubmit(form.value)" *ngIf="isReady" novalidate>


      <div class="form-group row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3">
          <div class="fileinput text-center fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail img-raised">
              <img style="border:1px solid #ddd" [src]="ImgUrl.value ? ImgUrl.value : 'Shared/core/imgnotfound.png'" />
            </div>

            <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>

            <div>
              <span class="btn btn-raised btn-round btn-outline-default btn-file">
                <span class="fileinput-new">Select Thumbnail</span>

                <input (change)="onThumbnailFileChanged($event)" type="file" accept="image/*" />
              </span>
            </div>
          </div>
        </div>
        <!--item-->
        <div class="col col-sm-12 col-md-8 col-lg-8 col-xl-9">
          <div class="form-group">
            <label>Name</label>

            <input formControlName="Company" type="text" class="form-control" placeholder="Please enter company of publisher..." />
            <!-- [class]="{Company.invalid && (Company.dirty || Company.touched) ? 'has-success': 'has-danger'}"/> -->

            <small *ngIf="Company.invalid && (Company.dirty || Company.touched)" class="form-text text-danger">
              You must enter the name of publisher.
            </small>
          </div>

          <div class="form-group">
            <label>Address</label>

            <input formControlName="Address" type="text" class="form-control" placeholder="Please enter address of publisher..." />
            <!-- [class]="{Address.invalid && (Address.dirty || Address.touched) ? 'has-success': 'has-danger'}"/> -->

            <small *ngIf="Address.invalid && (Address.dirty || Address.touched)" class="form-text text-danger">
              You must enter the address of publisher.
            </small>
          </div>

          <div class="form-group">
            <label>Phone</label>

            <input formControlName="Phone" type="text" class="form-control" placeholder="Please enter phone of publisher..." />
            <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

            <small *ngIf="Phone.invalid && (Phone.dirty || Phone.touched)" class="form-text text-danger">
              You must enter the phone of publisher.
            </small>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <button [disabled]="form.invalid" type="submit" class="btn btn-round btn-outline-primary">Save</button>
        <a routerLink="/publisher" class="btn btn-round btn-outline-danger">Cancel</a>
      </div>


    </form>
  </div>
</div>
