<section class="row-fluid">
  <div class="heading-bar">
    <h2>Đổi mật khẩu</h2>
    <span class="h-line"></span> </div>
  <!-- Start Main Content -->
  <section class="checkout-holder">
    <section class="first">
      <!-- Start Accordian Section -->      
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"> <strong class="green-t">Đổi mật khẩu</strong> </a></div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">              
              <div class="check-method-right"> 
                <form [formGroup]="form" (submit)="changePassword(form.value)">
                  <div class="modal-body">
                    <div class="form-group">
                      <label>Mật khẩu :</label>
                      <input class="form-control" type="password" formControlName="Password">
                      <small *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="form-text text-danger">
                         Mật khẩu không được để trống
                      </small>
                    </div>
                    <div class="form-group">
                        <label>Xác nhận mật khẩu :</label>
                        <input class="form-control" type="password" formControlName="ConfirmPassword" (input)="onPasswordInput()">
                        <small *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched)" class="form-text text-danger">
                            Mật khẩu không trùng khớp
                        </small>
                    </div>
                  </div>
                  <div class="modal-footer" style="margin-right:30px">
                    <button type="submit" class="btn btn-primary btn-round" [disabled]="!form.valid" >Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Accordian Section -->
    </section>   
  </section>
  <!-- End Main Content -->
</section>