<div class="card">
  <div class="card-header admin-card-header">
    <div class="col-sm-12">
      <h3 class="bg-h3">Edit Receipt</h3>
    </div>
  </div>
  <div class="card-body bg-light">
    <form [formGroup]="form" (submit)="onSubmit(form.value)" *ngIf="isReady" novalidate>
      <!--item-->
      <div class="form-group">
        <label>Employee Name</label>
        <select formControlName="EmployeeID" class="form-control" *ngIf="employees">
          <option *ngFor="let employee of employees" [value]="employee.ID">{{ employee.Name }}</option>
        </select>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="EmployeeID.invalid && (EmployeeID.dirty || EmployeeID.touched)" class="form-text text-danger">
          You must enter the name of employee.
        </small>
      </div>
      <div class="form-group">
        <label>Publisher Name</label>
        <select formControlName="PublisherID" class="form-control" *ngIf="publishers">
          <option *ngFor="let publisher of publishers" [value]="publisher.ID">{{ publisher.Name }}</option>
        </select>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="PublisherID.invalid && (PublisherID.dirty || PublisherID.touched)" class="form-text text-danger">
          You must enter the name of publisher.
        </small>
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea formControlName="Description" class="form-control" placeholder="Please enter Description of receipt..."></textarea>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="Description.invalid && (Description.dirty || Description.touched)" class="form-text text-danger">
          You must enter the Description of receipt and max length = 300.
        </small>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            Receipt Detail
          </h5>
        </div>
      </div>
      <div class="card-body" style="background-color: #F0F8FF;">
        <div class="form-group">
          <label>Books</label>
          <div class="form-inline">
            <select class="form-control col-lg-11 col-xl-11 col-sm-11" formControlName="SelectBook">
              <option *ngFor="let receiptBook of receiptBooks" [ngValue]="receiptBook">
                {{ receiptBook.Name }}
              </option>
            </select>
            <a class="input-group-text col-lg-1 col-xl-1 col-sm-1 text-center bg-primary text-light" style="display: inline;"
              (click)="addOderDetail()">ADD</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th scope="col">Book Image</th>
                <th scope="col">Book Name</th>
                <th scope="col">Stock</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">TotalPrice</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody formArrayName="ReceiptBookDetail" *ngIf="isDetailReady">
              <tr *ngFor="let receiptDetail of ReceiptBookDetail.controls; let i=index" [formGroupName]="i">
                <td>
                  <img src="{{ receiptDetail.value.ImgUrl }}" class="img-receipt" />
                </td>
                <td> {{ receiptDetail.value.BookName }}</td>
                <td>{{ receiptDetail.value.Total }}</td>
                <td>
                  <input type="number" formControlName="Quantity" (input)="updateTotalPrice(receiptDetail)">
                  <small *ngIf="receiptDetail.controls.Quantity.invalid && (receiptDetail.controls.Quantity.dirty || receiptDetail.controls.Quantity.touched)"
                    class="form-text text-danger">
                    You must enter the Quantity of receipt above 0 and below Total Quantities.
                  </small>
                </td>
                <td>
                  <input type="number" formControlName="Price" (input)="updateTotalPrice(receiptDetail)">
                  <small *ngIf="receiptDetail.controls.Price.invalid && (receiptDetail.controls.Price.dirty || receiptDetail.controls.Price.touched)"
                    class="form-text text-danger">
                    You must enter unit price above 0.
                  </small>
                </td>
                <td>
                  {{ receiptDetail.value.TotalPrice }}
                </td>
                <td class="actions">
                  <a (click)="deleteOderDetail(receiptDetail.value, i)" class="btn btn-outline-danger btn-round">
                    <i class="fas fa-trash-alt"></i> Delete
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">Total: </th>
              <th scope="col">{{ TotalPrice.value }}</th>
              <th></th>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="card-footer form-group">
        <button [disabled]="form.invalid" type="button" (click)="onSubmit(form.value)" class="btn btn-round btn-outline-primary">Save</button>
        <a routerLink="/receipt" class="btn btn-round btn-outline-danger">Cancel</a>
      </div>
    </form>
  </div>
</div>
