<!-- Start Sort by Section -->
<div class="product_sort">
  <div class="row-1">
    <div class="left">
        <!-- <span class="s-title">Sort by</span>
          <span class="list-nav">
            <select name="">
                <option>Position</option>
                  <option>Position 2</option>
                  <option>Position 3</option>
                  <option>Position 4</option>
              </select>
          </span> -->
      </div>
      <div class="right">
        <span>Có</span>
          <span>
            <select [(ngModel)]="page.PageSize" (change)="refreshData()">
              <option value= 9 >9</option>
              <option value= 15>15</option>
              <option value= 21>21</option>
            </select>
          </span>
          <span>Mỗi trang</span>
      </div>
  </div>
<div class="row-2">
  <span class="left">Từ {{ (page.Currentpage - 1) * page.PageSize + 1 }} đến {{ page.Currentpage * page.PageSize }} của {{ page.TotalItems }}  trang tin</span>
    <!-- <ul class="product_view">
      <li>View as:</li>
        <li>
            <a  class="grid-view">Grid View</a>
          </li>
      <li>
            <a  class="list-view">List View</a>
          </li>
    </ul> -->
  </div>
</div>
<!-- End Sort by Section -->

<!-- Start Blog Post Section -->
<article class="b-post" *ngFor="let order of historys | paginate: { id: 'server', itemsPerPage: 9, currentPage: page.Currentpage, totalItems: page.TotalItems };">
<h3>Đơn hàng - Lúc {{ order.OrderDate | date: 'HH:mm:ss dd/MM/yyyy'}}</h3>  
<span class="title"> Nhân viên <strong>{{order.EmployeeID }}</strong></span>
<div class="b-post-bottom">
    <ul class="post-nav">
        <li>Tổng cộng <a > {{order.TotalPrice}} </a></li>        
      </ul>
      <a [routerLink] = "['/order-detail', order.ID]" class="more-btn">Chi tiết</a>
  </div>
</article>
<!-- End Blog Post Section -->


<div class="blog-footer row-fluid">
  <div >  
    <pagination-controls (pageChange)="refreshData($event)" id="server" ></pagination-controls>
</div>
  
<!-- <ul class="product_view">
     <li>View as:</li>
      <li><a class="grid-view" >Grid View</a></li>
    <li><a class="list-view" >List View</a></li>
 </ul> -->
</div> 
<!-- End Blog Post Section -->