#editor .ql-container.ql-snow {
  min-height: 320px;
}

#editor {
  background-color: white;
}

#editor .ql-toolbar.ql-snow {
  background-color: white;
}

#editor .ql-container.ql-snow {
  background-color: white;
}

app-notification>.content,
.app-notification>.content,
[app-notification]>.content {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1049;
  background: rgba(255, 255, 255, 0.2);
}

app-notification>.content .progress,
.app-notification>.content .progress,
[app-notification]>.content .progress {
  height: 4px;
}

.modal-footer {
  margin-right: 8px;
}

pagination-controls /deep/ .ngx-pagination li.current {
  background-color: #51cbce !important;
  border-radius: 15px !important;
}

pagination-controls /deep/ .ngx-pagination li {
  font-size: 18px;
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}
