<div id="socialicons" class="hidden-phone"> <a id="social_linkedin" class="social_active"  title="Visit Google Plus page"><span></span></a> <a id="social_facebook" class="social_active"  title="Visit Facebook page"><span></span></a> <a id="social_twitter" class="social_active"  title="Visit Twitter page"><span></span></a> <a id="social_youtube" class="social_active"  title="Visit Youtube"><span></span></a> <a id="social_vimeo" class="social_active"  title="Visit Vimeo"><span></span></a> <a id="social_trumblr" class="social_active"  title="Visit Vimeo"><span></span></a> <a id="social_google_plus" class="social_active"  title="Visit Vimeo"><span></span></a> <a id="social_dribbble" class="social_active"  title="Visit Vimeo"><span></span></a> <a id="social_pinterest" class="social_active"  title="Visit Vimeo"><span></span></a> </div>
<ul class="footer2-link">
  <li><a routerLink="/about-us">Chúng tôi</a></li>
  <li><a routerLink="/contact">Liện hệ</a></li>
</ul>