<section class="row-fluid">
  <div class="heading-bar">
    <h2>{{ title}}</h2>
    <span class="h-line"></span> </div>
  <!-- Start Main Content -->
  <section class="span9 first">
    <!-- Start Ad Slider Section -->
    <div class="blog-sec-slider" *ngIf="advertisements">
      <div class="slider5" >
        <div class="slide" *ngFor="let adv of advertisements"><a ><img [src]="adv.ImgUrl" alt=""/></a></div>        
      </div>
    </div>
    <!-- End Ad Slider Section -->
    
    <router-outlet></router-outlet>
    
  </section>
  <!-- End Main Content -->
  <!-- Start Main Side Bar -->
    <section class="span3">
        <!-- Start Shop by Section -->
        <div class="side-holder">
          <article class="shop-by-list">
              <h2>Tìm kiếm sách</h2>
                <div class="side-inner-holder">
                  <strong class="title">Thể loại</strong>
                  <ul class="side-list">
                      <li> <a [routerLink]="['/book']">Sách</a> </li>
                      <li> <a [routerLink]="['/searchbygenre', 1]">Văn học</a></li>
                      <li><a [routerLink]="['/searchbygenre', 2]">Văn học nước ngoài</a></li>
                      <li><a [routerLink]="['/searchbygenre', 3]">Sách giáo khoa</a></li>
                      <li><a [routerLink]="['/searchbygenre', 4]">Sách tham khảo</a></li>
                      <li><a [routerLink]="['/searchbygenre', 5]">Sách ngoại ngữ</a></li>
                      <li> <a [routerLink]="['/searchbygenre', 6]">Sách lịch sử</a></li>
                      <li> <a [routerLink]="['/searchbygenre', 7]">Sách sức khỏe</a> </li>
                      <li><a [routerLink]="['/searchbygenre', 8]">Truyện tranh</a></li>                      
                    </ul>
                    <strong class="title" *ngIf="authors">Tác giả</strong>
                  <ul class="side-list" *ngIf="authors">
                      <li *ngFor="let author of authors"> <a [routerLink]="['/searchbyauthor', author.ID]">{{author.Name}}</a> </li>
                    </ul>
                </div>
            </article>
        </div>
        <!-- End Shop by Section -->
        
        <!-- Start Latest Reviews Section -->
        <div class="side-holder" *ngIf="rates">
          <article class="l-reviews">
              <h2>Nhận xét mới nhất</h2>
                <div class="side-inner-holder">
                  <article class="r-post" *ngFor="let rate of rates">
                      <div class="r-img-title">
                          <img [src]="rate.BookImg" />
                          <div class="r-det-holder">
                              <strong class="r-author"><a >{{rate.BookName}}</a></strong>
                              <span class="r-by">Bởi {{rate.AuthorName}}</span>
                                <span class="rating-bar"><img src="assets/images/rating-star.png" alt="Rating Star"/></span>
                            </div>
                        </div>
                        <span class="r-type">{{rate.Title}}</span>
                        <p>{{rate.Content}} </p>
                        <span class="r-author">Nhận xét bởi {{rate.CustomerName}}</span>
                    </article>
                </div>
            </article>
        </div>
        <!-- End Latest Reviews Section -->
        
        <!-- Start Price Range Section -->
        <div class="side-holder">
          <article class="price-range">
              <h2>Mức giá</h2>
                <div class="side-inner-holder">
                  <p>Chọn mức giá phù hợp</p>                    	
                    <div id="slider-range"></div>
                    <p> <input type="text" id="amount" class="r-input"> </p>
                </div>
            </article>
        </div>
        <!-- End Price Range Section -->
        
        <!-- Start Community Poll Section -->
        <div class="side-holder">
          <article class="price-range">
              <h2>Thăm giò</h2>
                <div class="side-inner-holder">
                  <p>Tác giả bạn thích nhất?</p>
                  <label class="radio">
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                      La Quán Trung
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Maksim Gorky
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Rumiko Takahashi
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Murakami Haruki
                    </label>
                    <a  class="vote-btn">Bình chọn</a>
                </div>
            </article>
        </div>
        <!-- End Community Poll Section -->
        
    </section>
    <!-- End Main Side Bar -->
</section>