<div class="heading-bar">
  <h2>Tin mới</h2>
  <span class="h-line"></span> </div>
<div class="slider-blog" *ngIf="newBlogs">
  <div class="slide" *ngFor="let blog of newBlogs">
    <div class="post-img"><a [routerLink] = "['/blog-detail', blog.ID]"><img [src]="blog.BlogImg" alt=""/></a> <span class="post-date"><span>{{blog.CreateDate | date: 'dd'}}</span> T {{blog.CreateDate | date: 'MM'}}</span> </div>
    <div class="post-det">
      <h3><a [routerLink] = "['/blog-detail', blog.ID]">{{ blog.Title }}</a></h3>
      <span class="comments-num">{{blog.TotalComment}} Bình luận</span>
      <p>{{blog.Sumary}}...</p>
    </div>
  </div>  
</div>