<div class="card">
  <div class="card-header admin-card-header">
    <div class="col-sm-12">
      <h3 class="bg-h3">Edit Employee</h3>
    </div>
  </div>
  <div class="card-body bg-light">
    <form [formGroup]="form" (submit)="onSubmit(form.value)" *ngIf="isReady" class="bg-light col-sm-12" novalidate>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3 form-group">
          <div class="fileinput text-center fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail img-raised">
              <img style="border:1px solid #ddd" [src]="ImgUrl.value ? ImgUrl.value : 'Shared/core/imgnotfound.png'" />
            </div>

            <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>

            <div>
              <span class="btn btn-raised btn-round btn-outline-default btn-file">
                <span class="fileinput-new">Select Thumbnail</span>

                <input (change)="onThumbnailFileChanged($event)" type="file" accept="image/*" />
              </span>
            </div>
          </div>
        </div>

        <div class="col col-sm-12 col-md-8 col-lg-8 col-xl-9">
          <div class="form-group row">
            <div class="col-md-6">
              <label>First Name</label>

              <input formControlName="FirstName" type="text" class="form-control" placeholder="Please enter first name of employee..." />

              <small *ngIf="FirstName.invalid && (FirstName.dirty || FirstName.touched)" class="form-text text-danger">
                You must enter the first name of employee.
              </small>
            </div>
            <div class="col-md-6">
              <label>Last Name</label>

              <input formControlName="LastName" type="text" class="form-control" placeholder="Please enter first name of employee..." />

              <small *ngIf="LastName.invalid && (LastName.dirty || LastName.touched)" class="form-text text-danger">
                You must enter the last name of employee.
              </small>
            </div>
          </div>


          <div class="form-group">
            <label>Email</label>

            <input formControlName="Email" type="text" class="form-control" placeholder="Please enter Email of employee..." />

            <small *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="form-text text-danger">
              You must enter the Email of employee.
            </small>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <label>Sex</label>
              <div class="form-group">
                <label class="admin-input-radio">
                  <input class="radio-inline" formControlName="Sex" type="radio" value="true" />
                  Male
                </label>
                <label class="admin-input-radio">
                  <input class="radio-inline" formControlName="Sex" type="radio" value="false" />
                  Female
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <label>Birthday</label>

              <angular2-date-picker formControlName="Birthday" [(ngModel)]="form.value.Birthday" [settings]="{
                bigBanner: true,
                timePicker: true,
                format: 'dd-MMM-yyyy'
            }"></angular2-date-picker>
            </div>
          </div>
          <div class="form-group">
            <label>Phone</label>

            <input formControlName="Phone" type="text" class="form-control" placeholder="Please enter Phone of employee..." />
          </div>
          <div class="form-group">
            <label>Address</label>

            <input formControlName="Address" type="text" class="form-control" placeholder="Please enter Address of employee..." />
          </div>
        </div>
      </div>
      

      <div class="card-footer">
        <button [disabled]="form.invalid" type="submit" class="btn btn-round btn-outline-primary">Save</button>
        <a routerLink="/employee" class="btn btn-round btn-outline-danger">Cancel</a>
      </div>
    </form>
  </div>
</div>
