<section class="row-fluid">
  <!-- Start Main Content -->
  <section class="span12 cart-holder">
      <div class="heading-bar">
        <h2>Chi tiết đơn hàng</h2>
          <span class="h-line"></span>
      </div>
      <div class="cart-table-holder">
        <table width="100%" border="0" cellpadding="10">
          <thead *ngIf="carts">
            <tr>
              <th width="14%">&nbsp;</th>
              <th width="43%" align="left">Tên sách</th>
              <th width="10%">Giá</th>
              <th width="10%">Số lượng</th>
              <th width="12%">Tạm tính</th>
            </tr>
          </thead>
          <tbody *ngIf="carts">
            <tr bgcolor="#FFFFFF" class=" product-detail"  *ngFor="let cart of carts">
              <td valign="top"><img [src]="cart.BookImg" /></td>
              <td valign="top">{{cart.BookName}} Bởi {{cart.AuthorName}}</td>
              <td align="center" valign="top">{{cart.Price}} VND</td>
              <td align="center" valign="top">{{cart.Quantity}}</td>
              <td align="center" valign="top">{{cart.Price * cart.Quantity}} VND</td>
            </tr>
          </tbody> 
          </table>
      </div>
      
      <figure class="span4 first">
          <div class="cart-option-box">
              <h4><i class="icon-shopping-cart"></i> Địa chỉ giao hàng</h4>
              <p>Địa điểm giao hàng</p>
                         
            </div>
        </figure>
      <figure class="span4">
        <div class="cart-option-box">
            <h4><i class="icon-money"></i> Mã khuyến mãi</h4>
              <input type="text" id="inputDiscount" placeholder="Nhập mã khuyến mãi" readonly>
              <br  class="clearfix">
              <a  class="more-btn">Áp dụng</a>
          </div>
      </figure>
      <figure class="span4 price-total">
        <div class="cart-option-box">
              <table width="100%" border="0" cellpadding="10" class="total-payment">                
                <tr>
                  <td align="right"><strong class="large-f">Tổng cộng</strong></td>
                  <td align="left"><strong class="large-f">{{ totalPrice }} VND</strong></td>
                </tr>
            </table>
            <hr />
          </div>
      </figure>
  </section>
  <!-- End Main Content -->
</section>