small.form-text.text-danger {
    color: rgb(187, 57, 57);
  }

  .thumbnail>img {
    height: 230px;
    width: 210px;
}
.form-panel{
    padding: 5px;
}

.admin-from-edit{
    padding: 10px;
}

.admin-card-header{
    background-color: #00c5dc !important;
    color: #f8f9fa !important;
 }

 .card-footer{
    border-top: solid 1px burlywood;
 }
 .card-footer > a{
    margin-left: 10px;
 }

 .admin-input-radio{
    font-size: 18px;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    margin-right: 6px;
}