<div class="card">
  <div class="card-header admin-card-header">
    <div class="col-sm-12">
      <h3 class="bg-h3">Edit Complain</h3>
    </div>
  </div>
  <div class="card-body bg-light">
    <form [formGroup]="form" (submit)="onSubmit(form.value)" *ngIf="isReady" novalidate>
      <div class="form-group"  >
        <label>Order</label>
        <select formControlName="OrderID" class="form-control" *ngIf="orders">
          <option *ngFor="let order of orders" [value]="order.ID" >{{ order.Name }}</option>
        </select>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="OrderID.invalid && (OrderID.dirty || OrderID.touched)" class="form-text text-danger">
          You must choose the Order of employee.
        </small>
      </div>
      <div class="form-group"  >
        <label>Customer</label>
        <select formControlName="CustomerID" class="form-control" *ngIf="customers">
          <option *ngFor="let customer of customers" [value]="customer.ID" >{{ customer.Name }}</option>
        </select>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="CustomerID.invalid && (CustomerID.dirty || CustomerID.touched)" class="form-text text-danger">
          You must enter the role of employee.
        </small>
      </div>
      <div class="form-group"  >
        <label>Employee</label>
        <select formControlName="EmployeeID" class="form-control" *ngIf="employees">
          <option *ngFor="let employee of employees" [value]="employee.ID" >{{ employee.Name }}</option>
        </select>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="EmployeeID.invalid && (EmployeeID.dirty || EmployeeID.touched)" class="form-text text-danger">
          You must choose employee.
        </small>
      </div>
        <!--item-->
      <div class="form-group">
          <label>Status</label>

          <input formControlName="Status" type="text" class="form-control" placeholder="Please enter Status of complain..." />
          <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

          <small *ngIf="Status.invalid && (Status.dirty || Status.touched)" class="form-text text-danger">
            You must enter the Status of complain.
          </small>
      </div>      
      <div class="form-group">
        <label>Content</label>
        <textarea formControlName="Content" class="form-control"></textarea>
        <small *ngIf="Content.invalid && (Content.dirty || Content.touched)" class="form-text text-danger">
          You must enter the Content of complain.
        </small>
      </div>


      <div class="card-footer form-group">
        <button [disabled]="form.invalid" type="button" (click)="onSubmit(form.value)" class="btn btn-round btn-outline-primary">Edit</button>
        <a routerLink="/complain" class="btn btn-round btn-outline-danger">Cancel</a>
      </div>
    </form>
  </div>
</div>
