<section class="row-fluid">
    <!-- Start Main Content -->
    <section class="span12">
        <h2 class="heading-404">404</h2>
        <h3 class="sub-heading-404">We are sorry! But the page you were looking for does not exist.</h3>
    </section>
    <!-- End Main Content -->   
</section>