<section class="row-fluid">
  <!-- Start Main Content -->
  <section class="span12 cart-holder">
      <div class="heading-bar">
        <h2>Giỏ hàng</h2>
          <span class="h-line"></span>
        <button  class="more-btn" *ngIf="isLogon" (click)="checkout()">Thanh toán</button>
      </div>
      <div class="cart-table-holder">
        <table width="100%" border="0" cellpadding="10">
          <thead *ngIf="carts">
            <tr>
              <th width="14%">&nbsp;</th>
              <th width="43%" align="left">Tên sách</th>
              <th width="10%">Giá</th>
              <th width="10%">Số lượng</th>
              <th width="12%">Tạm tính</th>
              <th width="6%">Cập nhật</th>
              <th width="5%">&nbsp;</th>
            </tr>
          </thead>
          <tbody *ngIf="carts">
            <tr bgcolor="#FFFFFF" class=" product-detail"  *ngFor="let cart of carts">
              <td valign="top"><img [src]="cart.BookImg" /></td>
              <td valign="top">{{cart.BookName}} Bởi {{cart.AuthorName}}</td>
              <td align="center" valign="top">{{cart.Price}} VND</td>
              <td align="center" valign="top"><input class="cart-quantity" name="" type="number" min="1" [(ngModel)]="cart.Quantity" /></td>
              <td align="center" valign="top">{{cart.Price * cart.Quantity}} VND</td>
              <td align="center" valign="top"><a (click)="update(cart)">Cập nhật</a></td>
              <td align="center" valign="top"><a (click)="removeCart(cart)"> <i class="icon-trash"></i></a></td>
            </tr>
          </tbody> 
          </table>
      </div>
      
      <figure class="span4 first">
          <div class="cart-option-box">
              <h4><i class="icon-shopping-cart"></i> Địa chỉ giao hàng</h4>
              <p>Địa điểm giao hàng</p>
              <div class="control-group">
                  <label class="control-label" for="inputZip">Địa chỉ <sup>*</sup></label>
                  <div class="controls">
                    <textarea type="text" [(ngModel)]="address" placeholder="Nhập vào địa chỉ giao hàng"> </textarea>
                  </div>
                </div>                
            </div>
        </figure>
      <figure class="span4">
        <div class="cart-option-box">
            <h4><i class="icon-money"></i> Mã khuyến mãi</h4>
              <input type="text" id="inputDiscount" placeholder="Nhập mã khuyến mãi">
              <br  class="clearfix">
              <a  class="more-btn">Áp dụng</a>
          </div>
      </figure>
      <figure class="span4 price-total">
        <div class="cart-option-box">
              <table width="100%" border="0" cellpadding="10" class="total-payment">
                <tr>
                  <td width="55%" align="right"><strong>Tạm tính</strong></td>
                  <td width="45%" align="left" *ngIf="carts">{{ getSubPrice() }} VND</td>
                </tr>
                <tr>
                  <td align="right"><strong class="large-f">Tổng cộng</strong></td>
                  <td align="left"><strong class="large-f">{{ totalPrice }} VND</strong></td>
                </tr>
            </table>
            <hr />
              <button  class="more-btn" *ngIf="isLogon" (click)="checkout()">Thanh toán</button>
              <p>Chú ý: bạn cần đăng nhập đểt hực hiện tính năng thanh toán</p>
          </div>
      </figure>
  </section>
  <!-- End Main Content -->
</section>