.main-logo {
    text-align: center;
    width: 100%;
}

    .main-logo > img {
        display: inline-block;
        height: 32px;
        margin-right: 16px;
    }

.sidebar-wrapper > .nav > li > a > img {
    height: 32px;
    margin-right: 16px;
}

.sidebar-wrapper{
    overflow-x: hidden !important;
    overflow-y: auto !important;

}