<div class="logo">
  <a routerLink="/dashboard" class="main-logo simple-text">
    <img src="/shared/core/logo.jpg" /> Admin
  </a>
</div>
<div class="sidebar-wrapper ps-container ps-theme-default ps-active-x " data-ps-id="044e6215-c6f0-3ba1-4375-f03adfde0c59">
  <ul class="nav">
    <li routerLinkActive="active">
      <a routerLink="/dashboard">
        <i class="nc-icon nc-bank"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li routerLinkActive="active" *ngIf="showRoute(roleRouting.publisher)">
      <a routerLink="/publisher">
        <i class="fas fa-building"></i>
        <p>Publisher</p>
      </a>
    </li>

    <!--Author-->
    <li routerLinkActive="active"  *ngIf="showRoute(roleRouting.author)">
      <a routerLink="/author">
        <i class="fas fa-address-card"></i>
        <p>Author</p>
      </a>
    </li>
    <!--end Author-->
    <!-- Book management-->
    <li>
      <a data-toggle="collapse" href="#BookManagement" aria-expanded="true">
        <i class="nc-icon nc-book-bookmark"></i>
        <p>
          Book Management
          <b class="caret"></b>
        </p>
      </a>
      <div class="collapse show" id="BookManagement"  *ngIf="showRoute(roleRouting.genre)">
        <ul class="nav">
          <li routerLinkActive="active">
            <a routerLink="/genre">
              <span class="sidebar-mini-icon"><i class="fas fa-clipboard-list"></i></span>
              <span class="sidebar-normal"> Genre </span>
            </a>
          </li>
          <li routerLinkActive="active"  *ngIf="showRoute(roleRouting.book)">
            <a routerLink="/book">
              <span class="sidebar-mini-icon"><i class="fas fa-book-open"></i></span>
              <span class="sidebar-normal"> Book </span>
            </a>
          </li>
          <li routerLinkActive="active"  *ngIf="showRoute(roleRouting.rate)">
              <a routerLink="/rate">
                <span class="sidebar-mini-icon"><i class="fa fa-thumbs-up"></i></span>
                <span class="sidebar-normal"> Rate </span>
              </a>
            </li>
        </ul>
      </div>
    </li>
    <!--end Book management-->
    <!--customer-->
    <li routerLinkActive="active"  *ngIf="showRoute(roleRouting.employee)">
      <a routerLink="/employee">
        <i class="fas fa-users"></i>
        <p>Employee</p>
      </a>
    </li>
    <!--end customer-->
    <!--customer-->
    <li routerLinkActive="active"  *ngIf="showRoute(roleRouting.customer)">
      <a routerLink="/customer">
        <i class="fas fa-user-tie"></i>
        <p>Customer</p>
      </a>
    </li>
    <!--end customer-->
    <!-- System management-->
    <li>
      <a data-toggle="collapse" href="#TradeManagement" aria-expanded="true">
        <i class="fas fa-balance-scale"></i>
        <p>
          Trade Management
          <b class="caret"></b>
        </p>
      </a>
      <div class="collapse show" id="TradeManagement" >
        <ul class="nav">
          <li routerLinkActive="active"  *ngIf="showRoute(roleRouting.order)">
            <a routerLink="/order">
              <span class="sidebar-mini-icon"><i class="fas fa-thumbtack"></i></span>
              <span class="sidebar-normal"> Order </span>
            </a>
          </li>
          <li routerLinkActive="active"  *ngIf="showRoute(roleRouting.receipt)">
            <a routerLink="/receipt">
              <span class="sidebar-mini-icon"><i class="fas fa-industry"></i></span>
              <span class="sidebar-normal"> Receipts </span>
            </a>
          </li>
          <li routerLinkActive="active"  *ngIf="showRoute(roleRouting.complain)">
            <a routerLink="/complain">
              <span class="sidebar-mini-icon"><i class="fas fa-industry"></i></span>
              <span class="sidebar-normal"> Complain </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!--end System management-->
    <!-- System management-->
    <li>
      <a data-toggle="collapse" href="#SystemManagenent" aria-expanded="false" class="collapsed">
        <i class="nc-icon nc-settings-gear-65"></i>
        <p>
          System Management
          <b class="caret"></b>
        </p>
      </a>
      <div class="collapse" id="SystemManagenent">
        <ul class="nav">
          <li routerLinkActive="active"  *ngIf="showRoute(roleRouting.blog)">
            <a routerLink="/blog">
              <span class="sidebar-mini-icon"><i class="nc-icon nc-album-2"></i></span>
              <span class="sidebar-normal"> Blog </span>
            </a>
          </li>
          <li routerLinkActive="active"  *ngIf="showRoute(roleRouting.blogReview)">
            <a routerLink="/blog-review">
              <span class="sidebar-mini-icon"><i class="fas fa-comments"></i></span>
              <span class="sidebar-normal"> Blog Review </span>
            </a>
          </li>
          <li routerLinkActive="active"  *ngIf="showRoute(roleRouting.roles)">
            <a routerLink="/role">
              <span class="sidebar-mini-icon"><i class="fas fa-address-book"></i></span>
              <span class="sidebar-normal"> Role </span>
            </a>
          </li>
          

          <li routerLinkActive="active">
            <a routerLink="/advertisement"  *ngIf="showRoute(roleRouting.advertisement)">
              <span class="sidebar-mini-icon"><i class="fa fa-bullhorn"></i></span>
              <span class="sidebar-normal"> Adverstisment </span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!--end System management-->
  </ul>
</div>