<!-- Start Map Section -->
<section class="map-holder">
  <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6545926015087!2d106.69010131411635!3d10.761081162420968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f113e363773%3A0xe83ac2165f2df5c!2zMzUtMzcgSOG7kyBI4bqjbyBI4bubbiwgUGjGsOG7nW5nIEPDtCBHaWFuZywgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1571002238968!5m2!1svi!2s" >
  
  </iframe>
</section>
<!-- Start Map Section -->

<div class="row-fluid">
  <strong>Thông tin liên hệ</strong>
  <p>Phòng 604 (Lầu 6)<br /> số 35 - 37 Hồ Hảo Hớn, Phường Cô Giang, Quận 1 <br />Thành phố Hồ Chí Minh, Việt Nam</p>
    <p>Điện thoại:  <br />Fax:  028-39207639 hoặc 028-39207640. <br />Email: <a > fcs@ou.edu.vn</a> <br />Web: <a >it.ou.edu.vn</a></p>
    <strong>Trụ sở chính:</strong>
    <p>97 Võ Văn Tần P6 Q3 Tp.HCM</p>
    <p>Website: <a href="http://ou.edu.vn/">www.ou.edu.vn</a></p>
</div>