<section class="row-fluid">
  <section class="span12 slider">
    <app-home-hot-book [randomBooks]="hotBook" *ngIf="books"></app-home-hot-book>
  </section>
  <section class="span12 wellcome-msg m-bottom first">
    <h2>Chào mừng đến trang web sách online</h2>
    <p>Chúng tôi cung cấp hàng ngàn tựa sách với vô vàn chủ đề cho mọi người yêu sách trên khắp thế giới.</p>
  </section>
</section>
<section class="row-fluid ">
  <app-home-sale [bookRandom]="saleBook" *ngIf="books"></app-home-sale>
</section>
<!-- Start BX Slider holder -->
  <app-home-future-book [futureBook]="books" *ngIf="books"></app-home-future-book>
<!-- End BX Slider holder -->
<!-- Start Featured Author -->
<section class="row-fluid m-bottom">
  <app-home-author *ngIf="authorBook" [author]="authorBook.AuthorInfomation" [books]="authorBook.BookInformation"></app-home-author>
</section>
<!-- End Featured Author -->
<section class="row-fluid m-bottom">
  <!-- Start Blog Section -->
  <section class="span9 blog-section">    
    <app-home-blog></app-home-blog>
  </section>
  <!-- End Blog Section -->
  <!-- Start Testimonials Section -->
  <section class="span3 testimonials">
    <div class="heading-bar">
      <h2>Danh ngôn</h2>
      <span class="h-line"></span> </div>
    <div class="slider4">
      <div class="slide">
        <div class="author-name-holder"> <img src="shared/core/authorMaximGorky.jpg" /> </div>
        <strong class="title">Maxime Gorki <span>Nhà văn</span></strong>
        <div class="slide">
          <p>Sự khôn ngoan của cuộc sống luôn sâu xa, rộng lớn hơn sự khôn ngoan của con người. </p>
        </div>
      </div>
      <div class="slide">
        <div class="author-name-holder"> <img src="shared/core/authorexemple1.jpg" /> </div>
        <strong class="title">Voltaire<span>Nhà văn</span></strong>
        <div class="slide">
          <p>Những gì sách dạy chúng ta cũng giống như lửa. Chúng ta lấy nó từ nhà hàng xóm, thắp nó trong nhà ta, đem nó truyền cho người khác, và nó trở thành tài sản của tất cả mọi người.
              </p>
        </div>
      </div>
      <div class="slide">
          <div class="author-name-holder"> <img src="shared/core/authorexemple3.jpeg" /> </div>
          <strong class="title">Jean Jacques Rousseau<span>Nhà triết học</span></strong>
          <div class="slide">
            <p>Tôi ghét sách; chúng chỉ dậy ta nói về những điều mà ta chẳng biết gì.
                </p>
          </div>
        </div>
        <div class="slide">
            <div class="author-name-holder"> <img src="shared/core/authorexemple2.jpeg" /> </div>
            <strong class="title">Mahatma Gandhi<span>Luật sư</span></strong>
            <div class="slide">
              <p>
                Không cần phải đốt sách để phá hủy một nền văn hóa. Chỉ cần buộc người ta ngừng đọc mà thôi.
              </p>
            </div>
          </div>
    </div>
  </section>
  <!-- End Testimonials Section -->
</section>