.fileinput .thumbnail {
    max-width: 830px;
}

.thumbnail>img {
    height: 230px;
    width: 830px;
}
.form-panel{
    padding: 5px;
}

.admin-from-edit{
    padding: 10px;
}

.admin-card-header{
    background-color: #00c5dc !important;
    color: #f8f9fa !important;
 }

 .card-footer{
    border-top: solid 1px burlywood;
 }
 .card-footer > a{
    margin-left: 10px;
 }

 :host #editor /deep/ .ql-container{
    height: 250px;
  }
  
  .admin-input-radio{
      font-size: 18px;
      font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
      margin-right: 6px;
  }
 
  .img-order{
    widows: 100px;
    height: 300px;
  }