<div class="card">
  <div class="card-header admin-card-header">
    <div class="col-sm-12">
      <h3 class="bg-h3">Edit Order</h3>
    </div>
  </div>
  <div class="card-body bg-light">
    <form [formGroup]="form" (submit)="onSubmit(form.value)" *ngIf="isReady" novalidate>
      <!--item-->
      <div class="form-group">
        <label>Employee Name</label>
        <select formControlName="EmployeeID" class="form-control" *ngIf="employees">
          <option *ngFor="let employee of employees" [value]="employee.ID">{{ employee.Name }}</option>
        </select>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="EmployeeID.invalid && (EmployeeID.dirty || EmployeeID.touched)" class="form-text text-danger">
          You must enter the name of employee.
        </small>
      </div>
      <div class="form-group">
        <label>Customer Name</label>
        <select formControlName="CustomerID" class="form-control" *ngIf="customers">
          <option *ngFor="let customer of customers" [value]="customer.ID">{{ customer.Name }}</option>
        </select>
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="CustomerID.invalid && (CustomerID.dirty || CustomerID.touched)" class="form-text text-danger">
          You must enter the name of customer.
        </small>
      </div>

      <div class="form-group">
        <label>Address</label>

        <input formControlName="Address" type="text" class="form-control" placeholder="Please enter Address of order..." />
        <!-- [class]="{Phone.invalid && (Phone.dirty || Phone.touched) ? 'has-success': 'has-danger'}"/> -->

        <small *ngIf="Address.invalid && (Address.dirty || Address.touched)" class="form-text text-danger">
          You must enter the Address of order.
        </small>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            Order Detail
          </h5>
        </div>
      </div>
      <div class="card-body" style="background-color: #F0F8FF;">
        <div class="form-group">
            <label>Books</label>
          <div class="form-inline">
            <select class="form-control col-lg-11 col-xl-11 col-sm-11" formControlName="SelectBook">
              <option *ngFor="let orderBook of orderBooks" [ngValue]="orderBook">
                {{ orderBook.Name }}
              </option>
            </select>
            <a class="input-group-text col-lg-1 col-xl-1 col-sm-1 text-center bg-primary text-light" style="display: inline;"
              (click)="addOderDetail()">ADD</a>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th scope="col">Book Image</th>
                <th scope="col">Book Name</th>                
                <th scope="col">Total</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Discount</th>
                <th scope="col">TotalPrice</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody formArrayName="OrderBookDetail" *ngIf="isDetailReady">
              <tr *ngFor="let orderDetail of OrderBookDetail.controls; let i=index" [formGroupName]="i">
                <td>
                  <img src="{{ orderDetail.value.ImgUrl }}" class="img-order" />
                </td> 
                <td> {{ orderDetail.value.BookName }}</td>                               
                <td>{{ orderDetail.value.Total }}</td>
                <td>{{ orderDetail.value.Price }}</td>
                <td>
                  <input type="number" formControlName="Quantity" (input)="updateTotalPrice(orderDetail)">
                  <small *ngIf="orderDetail.controls.Quantity.invalid && (orderDetail.controls.Quantity.dirty || orderDetail.controls.Quantity.touched)" class="form-text text-danger">
                      You must enter the Quantity of order above 0 and below Total Quantities.
                    </small>
                </td>
                <td>
                  <input type="number" formControlName="Discount"  (change)="updateTotalPrice(orderDetail)">
                  <small *ngIf="orderDetail.controls.Discount.invalid && (orderDetail.controls.Discount.dirty || orderDetail.controls.Discount.touched)" class="form-text text-danger">
                      You must enter the Discount of order above 0 and below 100.
                    </small>
                </td>
                <td>
                    {{ orderDetail.value.TotalPrice }}                 
                </td>
                <td class="actions">
                  <a (click)="deleteOderDetail(orderDetail.value, i)" class="btn btn-outline-danger btn-round">
                    <i class="fas fa-trash-alt"></i> Delete
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot >
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">Total: </th>
              <th scope="col">{{ TotalPrice.value }}</th>
              <th></th>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="card-footer form-group">
        <button [disabled]="form.invalid" type="button" (click)="onSubmit(form.value)" class="btn btn-round btn-outline-primary">Save</button>
        <a routerLink="/order" class="btn btn-round btn-outline-danger">Cancel</a>
      </div>
    </form>
  </div>
</div>
