<div class="card">
  <div class="card-header admin-card-header">
    <div class="col-sm-12">
      <h3 class="bg-h3">Create Advertisment</h3>
    </div>
  </div>
  <div class="card-body bg-light">
    <form [formGroup]="form" (submit)="onSubmit(form.value)" novalidate>
      <div class="form-group">
        <div class="fileinput text-center fileinput-new" data-provides="fileinput">
          <div class="fileinput-new thumbnail img-raised">
            <img style="border:1px solid #ddd" [src]="ImgUrl.value ? ImgUrl.value : 'Shared/core/imgnotfound.png'" />
          </div>

          <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>

          <div>
            <span class="btn btn-raised btn-round btn-outline-default btn-file">
              <span class="fileinput-new">Select Thumbnail</span>

              <input (change)="onThumbnailFileChanged($event)" type="file" accept="image/*" />
            </span>
          </div>
        </div>
      </div>
      <!--item-->
      <div class="form-group">
        <label>Description</label>

        <textarea formControlName="Description" class="form-control"></textarea>
        <small *ngIf="Description.invalid && (Description.dirty || Description.touched)" class="form-text text-danger">
          You must enter the Decription of advertisement.
        </small>
      </div>


      <div class="form-group row">
        <div class="col-md-6">
          <label>Release Date</label>

          <angular2-date-picker formControlName="DateRelease" [(ngModel)]="form.value.DateRelease" [settings]="{
              bigBanner: true,
              timePicker: true,
              format: 'dd-MMM-yyyy'
          }"></angular2-date-picker>
          <small *ngIf="DateRelease.invalid && (DateRelease.dirty || DateRelease.touched)" class="form-text text-danger">
            You must enter the Release date of advertisement.
          </small>
        </div>
        <div class="col-md-6">
          <label>Expire Date</label>

          <angular2-date-picker formControlName="DateExpire" [(ngModel)]="form.value.DateExpire" [settings]="{
              bigBanner: true,
              timePicker: true,
              format: 'dd-MMM-yyyy'
          }"></angular2-date-picker>
          <small *ngIf="DateExpire.invalid && (DateExpire.dirty || DateExpire.touched)" class="form-text text-danger">
            You must enter the Expire date of advertisement.
          </small>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="form.invalid" type="submit" class="btn btn-round btn-outline-primary">Create</button>
        <a routerLink="/advertisement" class="btn btn-round btn-outline-danger">Cancel</a>
      </div>
    </form>
  </div>
</div>
