<div class="col-sm-12">
  <div class="row-sm-12">
    <a class="btn btn-outline-primary btn-round" routerLink="/blog-review/create">
      <i class="fas fa-plus"></i> Create
    </a>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">
        Blog Reviews
      </h4>
    </div>

    <div class="card-body">
      <div class="row form-group">
        <div class="col-sm-8">
          <pagination-controls (pageChange)="refreshData($event)" id="server"></pagination-controls>
        </div>
        <div class="col-sm-4 float-right">
          <div class="input-group no-border">
            <input type="text" [(ngModel)]="searchInput" (input)="refreshData()" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group float-right">
        <div class="col-sm">
            Show 
            <select [(ngModel)]="page.PageSize" (change)="refreshData()">
                <option value= 5 >5</option>
                <option value= 10>10</option>
                <option value= 15>15</option>
                <option value= 20>20</option>
              </select>
              <b> Entries</b> of {{ page.TotalItems }} Entries
        </div>         
      </div>
      <div class="form-group" class="row col-sm">
        <div class="col-sm-1">Blog</div>
        <span class="col-sm-5">
            <select class="form-control col-sm-12" *ngIf="blogs" [(ngModel)]="blogID" (change)="refreshData()">
                <option value=0>All</option>
                <option *ngFor="let blog of blogs" [value]="blog.ID" >{{ blog.Name }}</option>
              </select>  
        </span>
        
        
     </div>
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Blog Name</th>
              <th scope="col">Email</th>
              <th scope="col">Creating Date</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody *ngIf="blogReviews">
            <tr *ngFor="let blogReview of blogReviews | paginate: { id: 'server', itemsPerPage: 10, currentPage: page.Currentpage, totalItems: page.TotalItems }">
              <td>{{ blogReview.Title }}</td>
              <td>{{ blogReview.BlogName }}</td>
              <td>{{ blogReview.Email }}</td>
              <td>{{ blogReview.DateCreate | date:'HH:mm:ss dd/MM/yyyy' }}</td>

              <td class="actions">
                <a [routerLink]="['/blog-review/edit/', blogReview.ID ]">
                  <button class="btn btn-outline-default btn-round">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </a>
                <button (click)="delete(blogReview.ID)" class="btn btn-outline-danger btn-round">
                  <i class="fas fa-trash-alt"></i> Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
