<article class="span6">
  <p>© 2019  Hoàng Ngọc Mỹ - Đại học Mở thành phố hồ chí minh </p>
</article>
<article class="span6 copy-right">
  <p>Liên hệ <a href="https://www.linkedin.com/in/hoang-my/">profile trên Linkedin</a></p>
</article>