<section class="b-detail-holder" *ngIf="blog">
<!-- Start Blog Post Section -->
<article class="b-post blog-detail" *ngIf="blog">
  <h3>{{blog.Title}}</h3>
    <div class="b-post-img">
      <img [src]="blog.BlogImg ? blog.BlogImg : 'shared/core/imgnotfound.png'" alt="Blog Post"/>
    </div>
<div class="b-post-bottom">
      <ul class="post-nav">
          <li>Đăng bởi <a > {{ blog.UserCreateName}} </a></li>
          <li>Ngày {{blog.CreateDate | date: 'dd/MM/yyyy'}}</li>
            <li><a >{{ blog.TotalComment }} Bình luận</a></li>
        </ul>
    </div>
    <div class="row-fluid">
      <span [innerHTML]="blog.Sumary | sanitizeHtml"></span>     
    </div>
</article>

<!-- Start Comments form Section -->
<section class="reviews-section" > 
    <div class="r-title-bar">
        <strong>Nhận xét của bạn</strong>
      </div>
<form [formGroup]="form" (submit)="onSubmit(form.value)" class="form-horizontal" novalidate>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Email <sup>*</sup></label>
        <div class="controls">
        <input formControlName="Email" type="text" placeholder="Nhập vào Email">
        </div>
        <small *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="form-text text-danger">
            Email chưa được nhập hoặc không hợp lệ
          </small>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword">Tiêu đề <sup>*</sup></label>
        <div class="controls">
        <input type="text" formControlName="Title" placeholder="Nhập tiêu đề">
       
        </div>
        <small *ngIf="Title.invalid && (Title.dirty || Title.touched)" class="form-text text-danger">
            Tiêu đề chưa được nhập
          </small>
        </div>
        <div class="control-group">
        <label class="control-label" for="inputPassword">Nhận xét <sup>*</sup></label>
        <div class="controls">
        <textarea name="" cols="2" rows="20" formControlName="Content" placeholder="Nhập nội dung nhận xét"></textarea>
        </div>
        <small *ngIf="Content.invalid && (Content.dirty || Content.touched)" class="form-text text-danger">
            Nội dung không được bỏ trống và nhỏ hơn 300 ký tự
          </small>
        </div>
        <div class="control-group">
        <div class="controls">
        <button type="submit" class="btn" [disabled]="!form.valid">Đăng bình luận</button>
        </div>
        </div>        
</form>
</section>
<!-- End Comments form Section -->
<!-- Start comment-->
<section class="reviews-section" *ngIf="blogReviews">   
    <div class="r-title-bar">
      <strong>Ý kiến bạn đọc</strong>
    </div>
    <ul class="review-list">
        <li [ngClass]="i % 2 == 0 ? 'comment' : 'comment2'" *ngFor="let blogReview of blogReviews | paginate: { id: 'server', itemsPerPage: 4, currentPage: page.Currentpage, totalItems: page.TotalItems }; let i = index">
            <em style="font-size: 25px;">{{ blogReview.Title }}</em>
            <h4>Ngày {{blogReview.CreateDate | date: 'dd/MM/yyyy' }}</h4>
            <h5>Bởi {{blogReview.Email}}</h5>
            <p>{{blogReview.Content}}</p>
          </li>             
      </ul>
      <pagination-controls (pageChange)="refreshData($event)" id="server" ></pagination-controls>
    </section>
  <!-- Start comment-->
</section>
<!-- End Blog Post Section -->
