.author-img-holder img {
    width: 141px;
    height: 144px;
}

ul.books-list li a img {
    width: 59px;
    height: 83px;
}

.c-b-img img {
    width: 107px;
    height: 165px;
}

div.featured-author div.right div.current-book p {
    width: 174px;
    height: 140px;
}