<section class="span9">
  <div class="featured-author">
    <div class="left"> <span class="author-img-holder"><a [routerLink]="['/author', author.ID]"><img [src]="author.ImgUrl" alt=""/></a></span>
      <div class="author-det-box">
          <div class="ico-holder">
              <div id="socialicons" class="hidden-phone"> <a id="social_linkedin" class="social_active"  title="Visit Google Plus page"><span></span></a> <a id="social_facebook" class="social_active"  title="Visit Facebook page"><span></span></a> <a id="social_twitter" class="social_active"  title="Visit Twitter page"><span></span></a> </div>
            </div>
        <div class="author-det"> <span class="title"> Sách nổi bật</span> <span class="title2">{{ author.LastName + ' ' + author.FirstName }}</span>
          <ul class="books-list">
            <li *ngFor="let book of books">
              <a [routerLink]="['/book-detail', book.ID]">
                <img [src]="book.ImgUrl" alt="" class="author-book-img"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="current-book"> <strong class="title"><a [routerLink]="['/book-detail', randomBook.ID]">{{ randomBook.Name }}</a></strong>
        <p>{{ randomBook.Sumary }}</p>
        <div class="cart-price"> <a (click)="addCart(randomBook)" class="cart-btn2">Thêm vào giỏ hàng</a> <span class="price">{{ randomBook.Price }} VND</span> </div>
      </div>
      <div class="c-b-img"> <a [routerLink]="['/book-detail', randomBook.ID]"><img [src]="randomBook.ImgUrl" alt="" /></a> </div>
    </div>
  </div>
</section>
<section class="span3 best-sellers">
  <div class="heading-bar">
    <h2>Sách bạn chạy</h2>
    <span class="h-line"></span> </div>
  <div class="slider2">
    <div class="slide" *ngFor="let book of books">
      <a [routerLink]="['/book-detail', book.ID]"><img [src]="book.ImgUrl" alt=""/></a>
      <div class="slide2-caption">
        <div class="left"> <span class="title"><a [routerLink]="['/book-detail', book.ID]"> {{ book.Name }}</a></span> <span class="author-name">Bởi {{ author.LastName + ' ' + author.FirstName }}</span> </div>
        <div class="right"> <span class="price">{{ book.Price }} VND</span> <span class="rating-bar"><img src="assets/images/rating-star.png" alt="Rating Star"/></span> </div>
      </div>
    </div>    
  </div>
</section>